@font-face {
	font-family: 'ArchivoBlack';
	font-weight: 400;
	line-height: 120;
	src: url(./fonts/Archivo_Black/ArchivoBlack-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 400;
	src: url(./fonts/Nunito/Nunito-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Nunito';
	font-weight: 500;
	src: url(./fonts/Nunito/Nunito-Medium.ttf) format('truetype');
}
@font-face {
	font-family: 'Nunito';
	font-weight: 700;
	src: url(./fonts/Nunito/Nunito-Bold.ttf) format('truetype');
}

:root {
	--max-w-body: 1440px;
	--max-w-cnt: 1188px;

	--font-family: 'Nunito', sans-serif;
	--font-size: 18px;
	--font-weight: 500;
	--font-family-title: 'ArchivoBlack', Arial, sans-serif;
	/* ------------------- main colors ----------------- */
	--black: #1b1f21;
	--white: #fcfaf9;
	--white-def: #ffffff;
	--white-tr90: rgba(252, 250, 249, 0.9);
	--pale: #e8e8e8;
	--gray80: #434343;
	--gray70: #757778;
	--gray35: #aeaeae;
	--gray20: #d9d9d8;
	--gray15: #e8e8e8;
	--gray5: #f2f2f2;
	--gray5-tr20: rgba(242, 242, 242, 0.2);

	/* ------------------- tag colors ----------------- */
	--pink: #ec95b1;
	--sky: #a4ccfe;
	--violet: #d0b0fa;
	--grass: #bedb39;
	--turquoise: #acd6de;
	--tangerine: #ffad20;
	--coral: #fe8968;
	--mint: #aedfd6;
	--marine: #90eecb;

	/* ------------------- text colors ----------------- */
	--pink-dark: #da3369;
	--sky-dark: #5fa5fd;
	--violet-dark: #9853f4;
	--grass-dark: #94ac23;
	--turquoise-dark: #57acbc;
	--tangerine-dark: #ef9700;
	--coral-dark: #fe6d44;
	--mint-dark: #57bcaa;
	--marine-dark: #22c98b;

	/* ------------------- text style ----------------- */

	--archivo-black-h1-fz: 58px;
	--archivo-black-h2-fz: 46px;
	--archivo-black-h3-fz: 36px;
	--archivo-black-h4-fz: 30px;
	--archivo-black-h5-fz: 26px;
	--archivo-black-h5-fz: 26px;

	--nunito-fz-21: 21px;
	--nunito-fz-18: 18px;
	--nunito-fz-15: 15px;
	--nunito-fz-13: 13px;
}

body {
	width: 100%;
	max-width: var(--max-w-body);
	margin: 0 auto;
	height: 100%;
	font-family: 'Nunito', Arial, sans-serif;
	color: var(--black);
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	font-style: normal;
	background-color: var(--white-def);
	overflow-x: hidden;
}
main {
	width: 100%;
	margin: 0 auto;
}
.container {
	width: 100%;
	max-width: var(--max-w-cnt);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

/* ---------------------- btn ------------------------- */
.btn {
	display: inline-block;
	white-space: nowrap;
	font-size: var(--nunito-fz-15);
	padding: 8px 18px;
	border: 1px solid var(--gray15);
	border-radius: 18px;
	background-color: var(--white-def);
	overflow: hidden;

	transition: all 0.2s ease-in-out;
}
.design_bgc_active:active,
.design_bgc_hover:hover {
	background-color: var(--pink);
	border-color: var(--pink);
}

.programming_bgc_active:active,
.programming_bgc_hover:hover {
	background-color: var(--sky);
	border-color: var(--sky);
}

.gaming_bgc_active:active,
.gaming_bgc_hover:hover {
	background-color: var(--grass);
	border-color: var(--grass);
}

.marketing_bgc_active:active,
.marketing_bgc_hover:hover {
	background-color: var(--tangerine);
	border-color: var(--tangerine);
}

.software_bgc_active:active,
.software_bgc_hover:hover {
	background-color: var(--turquoise);
	border-color: var(--turquoise);
}

.career_bgc_active:active,
.career_bgc_hover:hover {
	background-color: var(--mint);
	border-color: var(--mint);
}

.btn_footer {
	color: var(--white);
	background-color: var(--violet-dark);
	font-size: var(--nunito-fz-18);
	font-weight: 700;
	border-radius: 24px;
	border-color: var(--violet-dark);
	width: 280px;
	height: 49px;
}

.footer_bgc_active:active,
.footer_bgc_hover:hover {
	background-color: var(--pink-dark);
	border-color: var(--pink-dark);
}

.footer_bgc_disabled:disabled {
	color: var(--gray35);
	background-color: var(--violet-dark);
	border-color: var(--violet-dark);
}
.footer_bgc_focus:focus {
	background-color: var(--violet-dark);
	border-color: var(--white);
}

.webinars_bgc_active:active,
.webinars_bgc_hover:hover {
	background-color: var(--pink-dark);
	border-color: var(--black);
	color: var(--white);
}

.webinars_bgc_disabled:disabled {
	border-color: var(--black);
}
.webinars_bgc_focus:focus {
	background-color: var(--violet-dark);
	border-color: var(--white);
}

.subscribe-btn {
	font-size: var(--nunito-fz-18);
	font-weight: 700;
	background-color: var(--coral-dark);
	border-color: var(--coral-dark);
	color: var(--white);
	border-radius: 40px;
	width: 280px;
	height: 49px;
	padding: 10px 113px;
}
.subscribe_bgc_active:active,
.subscribe_bgc_hover:hover {
	background-color: var(--black);
	border-color: var(--black);
}
.subscribe_bgc_disabled:disabled {
	opacity: 0.7;
}
.subscribe_bgc_focus:focus {
	background-color: var(--coral-dark);
	border-color: var(--black);
}
/* ---------------------- link-btn ------------------------- */
.link-btn-gaming {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	outline: 1.5px solid var(--black);
	outline-offset: -5px;
	width: 222px;
	height: 49px;
	border-radius: 40px;
	background-color: var(--grass);
	margin-left: 5px;
}

.link-btn-gaming_active:active {
	color: var(--white-def);
	background-color: var(--black);
	outline: none;
}

.link-btn-gaming_hover:hover {
	color: var(--white-def);
	background-color: var(--black);
	outline: none;
}

.link-btn-gaming_disabled:disabled {
	opacity: 0.7;
}

.link-btn-gaming_focus:focus {
	outline-offset: 0;
}

/* ---------------------- list ------------------------- */
.list {
}
.list-gaming {
	color: var(--grass-dark);
}

.list-fashion {
	color: var(--marine);
}

.list-design {
	color: var(--pink);
}
.list-marketing {
	color: var(--tangerine);
}
.list-software {
	color: var(--turquoise);
}

.list__item {
	display: flex;
	align-items: center;
}
.list__link {
}
/* ---------------------- link ------------------------- */
.link {
	position: relative;
	top: 0;
	left: 0;
}
.link::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: var(--black);
	top: 100%;
	left: 0;
	pointer-events: none;
}
.link_metis_color_grass::before {
	background-color: var(--grass);
}
.link_metis_color_white::before {
	background-color: var(--white);
}

.link_metis::before {
	transform-origin: 100% 50%;
	transform: scale3d(0, 1, 1);
	transition: transform 0.3s;
}

.link_metis:hover::before {
	transform-origin: 0% 50%;
	transform: scale3d(1, 1, 1);
}

.link-gaming {
	color: var(--black);
	background-color: var(--grass);
}
.link-fashion {
	color: var(--black);
	background-color: var(--marine);
}
.link-design {
	color: var(--black);
	background-color: var(--pink);
}
.link-marketing {
	color: var(--black);
	background-color: var(--tangerine);
}
.link-software {
	color: var(--black);
	background-color: var(--turquoise);
}
/* ---------------------- icon ------------------------- */
.icon {
	display: flex;
	align-items: center;
	justify-content: end;
}

.icon-search {
}
.icon-arrow {
}

.icon-separator-run-line {
	display: inline-block;
	width: 40px;
	height: 58px;
}
/* ---------------------- logo ------------------------- */
.logo {
	text-align: center;
	width: 100%;
	max-width: 108px;
	height: 100%;
	max-height: 40px;
	margin-right: 1rem;
}
.logo-left-footer {
	max-width: 224px;
	max-height: 82px;
	margin-right: 0;
}
.logo__link {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.logo_color_hover svg path,
.logo_color_active svg path {
	transition: fill 0.2s ease-in-out;
}

.logo_color_hover:hover svg path,
.logo_color_active:active svg path {
	fill: var(--pink-dark);
}
.logo_color_white svg path {
	fill: var(--white);
}
.logo_color_white svg {
	background-color: var(--black);
}

/* ---------------------- img ------------------------- */
.img-wrp {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 584px;
	height: 328px;
}

.img {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	object-fit: cover;
}

.mask {
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
}

.stiker-img {
	position: absolute;
	z-index: 2;
}

.stiker-img_r_t_0 {
	right: 0;
	top: 0;
}
.stiker-img_l_t_47 {
	left: -40px;
	top: -47.5px;
}
.stiker-img_r_t_47 {
	right: -40px;
	top: -47.5px;
}
.stiker-img_l_t_80 {
	left: -57px;
	top: -80.5px;
}
.stiker-img_r_t_60 {
	right: -40px;
	top: -52.5px;
}
/* ---------------------- bg item ------------------------- */
/* .bg-item {
	position: absolute;
	z-index: -1;
}
.bg-item-webinars {
	position: absolute;
	z-index: 0;
}
.gaming__bg {
	top: -70px;
	left: 5px;
	width: 1622.78px;
	height: 993.37px;
	transform: rotate(-1.7deg);
}

.articles__bg {
	/* top: 226px;
	left: -639px;
	width: 2515px;
	height: 2102px;
	transform: rotate(0.8deg); 
}
.webinars__bg {
	top: -63px;
	left: 9px;
	width: 1515px;
	height: 1259px;
	transform: rotate(-3deg);
} */

/* ---------------------- running line ------------------------- */
.marquee-wrp {
	position: absolute;
	z-index: 10;
	left: -20vw;
	width: 130vw;
	max-width: 4000px;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	box-sizing: border-box;

	font-family: 'ArchivoBlack', Arial, sans-serif;
	font-size: 58px;
	font-weight: 400;
	line-height: 120%;
	font-style: normal;
	color: var(--black);
	text-align: center;
	white-space: nowrap;
	padding: 23px 0;
}
.marquee-articules {
	top: -333px;
	background: var(--turquoise);
	transform: rotate(-4deg);
}
.marquee-webinars {
	top: -75px;
	transform: rotate(-3deg);
	background: var(--tangerine);
}
.marquee-subscribe-block {
	bottom: -75px;
	background: var(--coral-dark);
	transform: rotate(2deg);
}
.marquee-footer {
	top: -115px;
	background: var(--pink-dark);
}
.marquee-sale {
	background: var(--pink-dark);
}
.marquee-items {
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	min-width: 100%;
}
.marquee-item {
	display: flex;
	justify-content: center;
	align-items: center;
}
.marquee-item span {
	margin: 0 48px;
}
.marquee-wrp:hover .marquee {
	animation-play-state: paused;
}

.marquee {
	animation: scroll 250s linear infinite running;
}
@keyframes scroll {
	0% {
		transform: translate3d(-25%, 0, 0);
	}
	100% {
		transform: translate3d(-50%, 0, 0);
	}
}

/* ---------------------- input ------------------------- */
.input {
	display: inline-block;
	font-size: var(--nunito-fz-18);
	padding: 8px 18px;
	border: 1.5px solid var(--gray15);
	border-radius: 24px;
	background-color: var(--white-def);
	overflow: hidden;
	color: var(--pale);

	transition: all 0.2s ease-in-out;
}

.input:hover {
	color: var(--white);
}

/* .input_:disabled {
	color: var(--pale);
}

.input:focus {
	color: var(--black);
} */

.input_footer {
	width: 280px;
	height: 49px;
	color: var(--pale);
	border: 1px solid var(--white);
	background-color: inherit;
}
.input_footer:focus {
	color: var(--white);
}
.input_footer::placeholder {
	color: var(--pale);
}

.form-subscribe__input-wrp {
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.error-inp-wrp:before {
	content: '';
	display: block;
	position: absolute;
	z-index: 5;
	right: 18px;
	top: 50%;
	transform: translateY(-50%);
	width: 25px;
	height: 25px;
	background-color: transparent;
	background-image: url('./images/subscribe-block/icon/error-inp.svg');
	background-size: contain;
	background-repeat: no-repeat;
}
.correct-inp-wrp:before {
	content: '';
	display: block;
	position: absolute;
	z-index: 5;
	right: 18px;
	top: 50%;
	transform: translateY(-50%);
	width: 25px;
	height: 25px;
	background-color: transparent;
	background-image: url('./images/subscribe-block/icon/correct-inp.svg');
	background-size: contain;
	background-repeat: no-repeat;
}
 {
}
.form-subscribe__input-wrp::before {
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	/* -webkit-text-fill-color: #ffffff;
	-webkit-box-shadow: 0 0 0px 1000px #131414 inset;*/
	/* transition: background-color 5000s ease-in-out 0s; */
}

.form-subscribe__input {
	position: relative;
	top: 0;
	left: 0;
	width: 280px;
	height: 49px;
	background-color: inherit;
	padding: 10px 24px;
}
.form-subscribe__input:active {
}

input[type='email']:hover {
	border-color: var(--white-def);
	color: var(--white-def);
}
input[type='email'] {
}

.form-subscribe-input_focus:focus {
	border-color: var(--black);
	border-width: 2px;
	outline: none;
}
.form-subscribe-input_disabled:disabled {
	opacity: 0.6;
}
.form-subscribe__input::placeholder {
	color: var(--white);
}
.form-subscribe__chb {
}
.form-subscribe__inp-chb {
	display: none;

	/* border: 1.5px solid var(--white);
	border-radius: 4px;
	background-color: transparent;
	width: 24px;
	height: 24px; */
}

.form-subscribe__lbl {
}
.lbl {
	display: inline-block;
	position: relative;
	cursor: pointer;
	user-select: none;
	line-height: 140%;
}
.lbl-subscribe {
	height: 1.5em;
	padding-left: 40px;
}
.lbl-subscribe::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1.6em;
	height: 1.6em;
	border: 1.5px solid var(--white);
	border-radius: 4px;
	background-color: transparent;
}
.form-subscribe__inp-chb:checked + .lbl-subscribe::before {
	background-color: var(--white);
	/* border-color: #00b50e; */
	background-image: url('./images/subscribe-block/checkbox/checkbox-checked.png');
	background-repeat: no-repeat;
	background-size: 12.9px 9.2px;
	background-position: center;
}

.form-subscribe__inp-chb:not(:disabled):not(:checked)
	+ .lbl-subscribe:hover::before {
	background-color: rgba(252, 250, 249, 0.2);
	border: 1.5px solid var(--white);
}

.form-subscribe__inp-chb:focus + .lbl-subscribe::before {
	border: 1.5px solid var(--black);
}

.form-subscribe__inp-chb:not(:disabled) + .lbl-subscribe:active::before {
	border: 2px solid var(--black);
}

.form-subscribe__inp-chb:disabled + .lbl-subscribe {
	color: #aaa;
	cursor: not-allowed;
}

.form-subscribe__inp-chb:disabled + .lbl-subscribe::before {
	opacity: 0.4;
}

/* ---------------------- cards ------------------------- */
.cards {
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 40px;
}
.articles-cards {
}
.mask-fashion {
	mask-image: url(./images/articles/mask/fashion.png);
	-webkit-mask-image: url(./images/articles/mask/fashion.png);
}
.mask-design {
	mask-image: url(./images/articles/mask/design.png);
	-webkit-mask-image: url(./images/articles/mask/design.png);
}
.mask-design-ux-ui {
	width: 1208px;
	height: 520px;
	mask-image: url(./images/articles/mask/design-ui.png);
	-webkit-mask-image: url(./images/articles/mask/design-ui.png);
}
.mask-marketing {
	mask-image: url(./images/articles/mask/marketing.png);
	-webkit-mask-image: url(./images/articles/mask/marketing.png);
	mask-size: 584px 328px;
}
.mask-software {
	mask-image: url(./images/articles/mask/software.png);
	-webkit-mask-image: url(./images/articles/mask/software.png);
	mask-size: 584px 328px;
}

.card__img-wrapper {
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 32px;
}
.design-ux-ui__img-wrapper {
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 48px;
}
.card-design:hover .stiker-design {
	animation: spin 7s infinite linear;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
/* ---------------------- accordion ------------------------- */
.tabs {
	overflow: hidden;
	color: var(--white);
}

.tab {
	width: 100%;
	overflow: hidden;
}
.tab__inp {
	display: none;
}
.tab__label {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	color: var(--gray70);
	padding: 16px 10px 16px 0px;
	cursor: pointer;
}

.tab__label::after {
	content: '\276F';
	width: 0em;
	height: 1.2em;
	font-size: 14px;
	color: var(--white);
	transform: rotate(90deg);
	text-align: center;
	transition: all 0.2s;
}

.tab__content {
	max-height: 0;
	color: var(--white);
	transition: all 0.2s;
}

input:checked + .tab__label::after {
	width: 0.8em;
	height: 1.5em;
	transform: rotate(270deg);
}

input:checked ~ .tab__content {
	max-height: 100vh;
	padding: 8px 0;
}

/* ---------------------- header ------------------------- */
.header {
}

.header-cnt {
	flex-direction: row;
	gap: 1rem;
	padding: 16px 0;
	margin-bottom: 80px;
}

.header__nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
	margin: 0 8px;
}

.header__button {
}

.header__right-search-block {
	display: flex;
	align-items: center;

	width: 100%;
	max-width: 114px;
}

.header__search-icon {
	margin-right: 26px;
}

.header__search-btn {
	display: flex;
	align-items: center;
	justify-content: end;
	width: 22px;
	height: 24px;
}

.header__transition {
}

.transition-header {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.transition-header__name {
	display: flex;
	align-items: center;
	text-transform: uppercase;
}
.transition-header__text {
	margin-right: 8px;
}
.transition-header__icon {
	display: flex;
	align-items: center;
	justify-content: end;
}

/* ---------------------- gaming ------------------------- */
.gaming {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	background-image: url('./images/bg/bgLineGaming.svg');
	background-repeat: no-repeat;
	background-position: 0px -70px;
}

.gaming__bg-img {
}

.gaming-cnt {
	flex-direction: row;
	gap: 40px;
	margin-bottom: 448px;
}

.gaming__img-wrapper {
	position: relative;
	top: 0;
	left: 0;
}

.gaming__img-wrp {
	width: 480px;
	height: 560px;
	mask-image: url('./images/gaming/mask-gaming.png');
}
.img-wrp {
}
.img-wrp__imamge {
}
.img {
}
.img-wrp__stiker-gaming {
	width: 180px;
	height: 180px;
}
.stiker-img {
}
.stiker-img_r_t_0 {
}

.gaming__content-info {
}

.content-info-gaming {
}

.content-info {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}
.content-info__links {
	display: flex;
	align-items: center;
	justify-content: start;
	margin-bottom: 18px;
}
.content-info__list {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 16px;
}

.text-info-gaming h3 {
	font-size: 36px;
}

.text-info {
	max-width: 688px;
	margin-bottom: 16px;
}

.text-info__title {
	font-family: var(--font-family-title);
	font-size: 30px;
	font-weight: 400;
	line-height: 120%;
	font-style: normal;
	color: var(--black);
	margin-bottom: 16px;
}

.text-info__sub-text {
	max-width: 480px;
	font-weight: 400;
	line-height: 160%;
	color: var(--gray70);
}

.content-info__date {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 24px;
	font-size: var(--nunito-fz-15);
	font-weight: 400;
	color: var(--gray35);
}
.content-info__date-text {
}
.date-text {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 8px;
}
.date-text__icon {
}
.date-text__txt {
}
.content-info__time {
}
.time {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}
.time__icon {
}
.time__text {
}
.content-info__link {
}

.link-btn-webinars {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 40px;
	color: var(--white);
	background-color: var(--violet-dark);
	font-size: var(--nunito-fz-18);
	font-weight: 700;
	border-color: var(--violet-dark);
	width: 280px;
	height: 64px;
}

/* ---------------------- articles ------------------------- */
.articles {
	position: relative;
	top: 0;
	left: 0;
	background-image: url('./images/bg/bgLineArticulos.svg');
	background-repeat: no-repeat;
	background-position: 0px 70px;
}
.articles-cnt {
	gap: 136px;
	margin-bottom: 215px;
}
.design-ux-ui {
	margin-bottom: 15px;
}
.design-ux-ui__info {
}
.info-design-ux-ui {
	display: grid;
	grid-template-rows: 30% 70%;
	grid-template-columns: repeat(2, auto);
	gap: 24px;
	width: 100%;
	height: 100%;
}
.info-design-ux-ui .date-big-cards {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: center;
	gap: 8px;
	margin-bottom: 0;
}
.info-design-ux-ui .date-big-cards .date-text {
	flex-direction: row-reverse;
}
.info-design-ux-ui .date-big-cards .time {
	flex-direction: row-reverse;
}
.content-info {
}

.content-info__links {
}
/* --------------------------------------- */
.list-design-ux-ui {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(2, auto);
	gap: 10px;
}
.list-design-ux-ui li:first-child {
	grid-column: span 3 / span 3;
	align-items: start;
	justify-content: end;
}
.item-design-ux-ui {
	justify-content: end;
}
.date-big-cards {
	width: 100%;
	grid-column-start: 1;
	grid-row-start: 2;
	align-items: start;
	gap: 24px;
	order: 2;
	margin-bottom: 56px;
}
/* --------------------------------------- */
.content-info__list {
}
.list {
}
.list-design {
}
.list__item {
}
.list__link {
}

.link-design {
}

.content-info__date-text {
}
.date-text {
}
.date-text__icon {
}
.icon {
}
.date-text__txt {
}
.content-info__time {
}
.time {
}
.time__icon {
}
.time__text {
}
.info-design-ux-ui__right {
}
.content-info__text {
}
.text-info {
}
.text-info-articles {
}
.text-info-card {
	max-width: 584px;
}
.text-info__title {
}
.title-design-ux-ui {
	margin-bottom: 8px;
}
.text-info__sub-text {
}
.sub-text-design-ux-ui {
	max-width: 100%;
}
/* ---------------------- webinars ------------------------- */
.webinars {
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
	color: var(--white);
	background-color: var(--black);
	background-image: url('./images/webinars/bg/line-bg.svg');
	background-repeat: no-repeat;
	background-position: 0px -79px;
}

.webinars__bg {
}

.webinars-cnt {
	position: relative;
	top: 0;
	left: 0;
	z-index: 5;
	display: flex;

	flex-direction: row;
	flex-wrap: wrap;
	align-items: start;

	overflow: hidden;
	padding: 140px 0 192px 0;
	margin-bottom: 190px;
}
.webinars__up {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 84px;
}
.webinars__title {
}
.webinars__title-txt {
	font-family: var(--font-family-title);
	font-size: 46px;
}
.webinars__btn {
	margin-bottom: 80px;
}
.webinars__btn-link {
}

.link-btn-webinars {
}
.webinars__cards-mini {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}
.webinars__card-mini {
}
.card-mini {
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	width: 376px;
	height: 432px;
	overflow: hidden;
	border-radius: 32px;
	padding: 32px;
}
.card-mini-one {
	background-color: var(--turquoise-dark);
}
.card-mini-two {
	background-color: var(--coral-dark);
}
.card-mini-three {
	background-color: var(--tangerine-dark);
}
.card-mini__bg {
}
.card-mini-bg-one {
	background-image: url('./images/webinars/card/bd-card/line-bg-one.svg');
	background-repeat: no-repeat;
	background-position: 47px 63px;
}
.card-mini-bg-two {
	background-image: url('./images/webinars/card/bd-card/line-bg-two.svg');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.card-mini-bg-three {
	background-image: url('./images/webinars/card/bd-card/line-bg-three.svg');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.card-mini__top {
}
.top-card-mini {
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 16px;
}
.top-card-mini__avatar {
}
.img-card-mini {
	mask-image: url(./images/webinars/card/mask/mask-avatar.png);
	-webkit-mask-image: url(./images/webinars/card/mask/mask-avatar.png);
	mask-repeat: no-repeat;
	mask-size: 100% 100%;
	mask-position: center;
	width: 64px;
	height: 64px;
}
.card-mini__img {
}

.img-wrp-avatar-mini {
}
.top-card-mini__title {
	max-width: 228px;
}
.top-card-mini__name {
	font-family: var(--font-family-title);
	font-size: 26px;
}
.top-card-mini__specialization {
	font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}
.card-mini__title {
	margin-bottom: auto;
}
.title-card-mini_m_b_31 {
	margin-bottom: 31px;
}
.card-mini__title-txt {
	font-family: var(--font-family-title);
	font-size: 30px;
	line-height: 120%;
}
.card-mini__bottom {
}
.bottom-card-mini {
	font-size: 15px;
	height: 75px;
	width: 100%;
}
.bottom-card-mini__horizon {
}
.horizon {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 26px;
	margin-bottom: 12px;
}
.horizon__title {
}
.horizon__text {
}
.bottom-card-mini__learn-time {
}
.learn-time {
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 22px;
	width: 100%;
}
.learn-time__date {
}

.learn-time__date-text {
	display: flex;
	align-items: start;
	max-width: 200px;
}
.date-text {
}
.date-text__icon {
}
.learn-time-icon {
	width: 20px;
	color: var(--black);
}
.learn-time svg path {
	fill: var(--white);
}
.icon {
}
.date-text__txt {
}
.learn-time__time {
}
.time {
}
.time__icon {
}
.time__text {
}
/* ---------------------- subscribe ------------------------- */
.subscribe-block {
}
.subscribe-block-cnt {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin-bottom: 236px;
}
.section-subscribe {
	display: flex;
	align-items: center;
	justify-content: start;

	position: relative;
	left: 0;
	top: 0;
	z-index: 1;

	mask-image: url(./images/subscribe-block/mask/banner-shape.png);
	-webkit-mask-image: url(./images/subscribe-block/mask/banner-shape.png);
	mask-repeat: no-repeat;
	mask-size: 100% 100%;
	mask-position: center;

	width: 100%;
	height: 100%;
}
.section-subscribe__wrp {
	position: relative;
	left: 0;
	top: 0;
	z-index: 1;
	overflow: hidden;
	background-color: var(--turquoise-dark);
	background-image: url(./images/subscribe-block/bg/line-bg.svg);
	background-repeat: no-repeat;
	background-position: 39px -155px;
	padding: 64px 480px 64px 104px;
	width: 100%;
	height: 518px;
}
.section-subscribe::after {
	content: '';
	display: block;
	position: absolute;
	z-index: 10;
	right: 0;
	bottom: 0;
	background-image: url('./images/subscribe-block/image/illustration.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;

	width: 416px;
	height: 100%;
}
.section-subscribe__union {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.text-info-section-subscribe {
}
.title-section-subscribe {
	color: var(--white);
	font-size: 36px;
}
.sub-text-section-subscribe {
	max-width: 100%;
	color: var(--white);
}

.form-subscribe {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	transition: all 0.3s ease-in-out;
}
.form-subscribe__send {
	display: flex;
	align-items: center;
	gap: 16px;
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 16px;
}
.form-subscribe__success-message {
	display: block;
	text-align: center;
	font-size: var(--nunito-fz-13);
	color: var(--white);
	position: relative;
	top: -11px;
	left: 0px;
	max-width: 280px;
}
.form-subscribe__lbl {
	color: var(--white);
	font-size: var(--nunito-fz-15);
}
.lbl_text_decoration {
	text-decoration: underline;
}
.subscr-successful {
	position: relative;
	top: 0;
	left: 0;
	/* ------------------------------------------------ */
	display: none;
}
.subscr-successful__block {
	background-color: var(--white);
	color: var(--turquoise-dark);
	font-weight: 700;
	border-radius: 40px;
	width: 576px;
	padding: 10px 24px;
}
.subscr-successful__text {
}
.subscr-successful__img-wrp {
	position: absolute;
	left: 395px;
	top: -64px;
	width: 120px;
	height: 120px;
}
.img-wrp {
}
.subscr-successful-img-wrp {
}
.subscr-successful__img {
}
.img {
}
.img-subscr-successful {
}
/* ---------------------- footer ------------------------- */
.footer {
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	color: var(--white);
	font-size: var(--nunito-fz-18);
	font-weight: 700;
	background-color: var(--black);
	padding: 64px 0px 80px 0px;
}

.footer-cnt {
	align-items: start;
}

.footer__up {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(3, auto);
	gap: 0px;
	flex-wrap: wrap;
	border-bottom: 1px solid var(--gray80);
	padding-bottom: 32px;
	margin-bottom: 32px;
}

.left-footer {
	grid-column-start: 1;
	grid-row-start: 1;
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 48px;

	width: 352px;
	height: 82px;

	/* 9.3rem clamp(40px, 5.3em, 168px)*/
	margin-right: 168px;
	margin-bottom: 80px;
}

.left-footer__awards {
	width: 80px;
	height: 80px;
}

.subscribe {
	grid-column-start: 1;
	grid-row-start: 2;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 8px;
	margin-bottom: 96px;
}

.subscribe__subscribe-to-newsletter {
}

.footer__up-menu {
}

.menu-footer {
	grid-column: span 2 / span 4;
	grid-row: span 2 / span 2;
	grid-column-start: 2;
	grid-row-start: 1;
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 64px;
	flex-wrap: nowrap;
}
.menu-footer-tabs {
	display: none;
}
.menu-footer h3 {
	text-transform: uppercase;
	color: var(--gray70);
	margin-bottom: 32px;
}

.menu-footer__courses {
	flex: 1 1 100px;
}

.menu-footer__title {
}

.menu-footer__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: var(--nunito-fz-15);
	font-weight: 500;
}

.menu-footer__webinars {
	flex: 1 1 104px;
}

.menu-footer__about {
	flex: 1 0 142px;
}

.menu-footer__blog {
	flex: 1 1 120px;
}
.footer__up-contacts {
}

.contacts {
	grid-column: span 4 / span 4;
	grid-row-start: 3;
	display: flex;
	align-items: start;
	justify-content: start;
	gap: 40px;
	font-size: var(--nunito-fz-13);
}

.contacts-item {
}

.contacts-item a {
	font-size: var(--nunito-fz-18);
	font-weight: 700;
}

.contacts-item__title {
	text-transform: uppercase;
	color: var(--gray35);
	margin-bottom: 6px;
}

.contacts__wsp {
}

.contacts__tel {
}

.contacts__title {
}

.contacts__email {
}

.footer__up-sosial {
}

.sosial {
	grid-column-start: 5;
	grid-row-start: 3;
	display: flex;
	align-items: center;
	justify-content: end;
	width: 200px;
}

.list-sosial {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
}

.list-sosial__item {
}
.list-sosial__item a {
	display: flex;
	align-items: center;
	justify-content: center;
}

.list-sosial__link {
}

.instagram-icon {
}

.facebook-icon {
}

.youtube-icon {
}
.linkedin-icon {
}
.footer__privicy {
}
.privicy {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 8px;
	text-transform: uppercase;
	color: var(--gray35);
	font-size: var(--nunito-fz-13);
	font-weight: 500;
}
.privicy__text {
}
.privicy__separator {
}
/* ---------------------- media ------------------------- */
@media (max-width: 1440px) {
	.header {
	}
}

@media (max-width: 1279px) {
	.header-cnt {
		flex-wrap: wrap;
		padding: 16px 8px;
		margin-bottom: 50px;
	}

	.header__nav {
		order: 3;
	}

	/* ---------------- gaming -------------------- */
	.gaming {
		background-image: url('./images/bg/bgLineGaming-tablet.svg');
		background-position: 0px -100px;
		background-size: auto;
	}

	.gaming-cnt {
		flex-direction: column;
		align-items: center;
		gap: 24px;
		margin-bottom: 212px;
	}

	.mask-gaming {
		width: 704px;
		height: 320px;
		mask-image: url('./images/gaming/mask-gaming-tablet.png');
	}

	.img-wrp__stiker-gaming {
		width: 120px;
		height: 120px;
	}
	.info-design-ux-ui {
		gap: 0;
	}
	.content-info-big-card {
		display: grid;
		grid-template-rows: 30% 53% 17%;
		grid-template-columns: repeat(2, auto);
		column-gap: 24px;
		width: 100%;
		height: 100%;
	}

	.content-info__links {
		grid-column-start: 1;
		grid-row-start: 1;
		order: 1;
		margin-bottom: 0;
	}

	.content-info__list {
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-template-rows: repeat(2, auto);
		gap: 12px;
	}
	.content-info__list li:first-child {
		grid-column: span 3 / span 3;
		align-items: start;
		justify-content: end;
	}
	.list__item {
		justify-content: end;
	}
	.date-big-cards {
		grid-column-start: 1;
		grid-row-start: 2;
		flex-direction: column;
		align-items: end;
		gap: 8px;
		order: 2;
		margin-top: 20px;
	}

	.date-big-cards .date-text {
		flex-direction: row-reverse;
	}
	.date-big-cards .time {
		flex-direction: row-reverse;
	}

	.info-design-ux-ui .date-big-cards {
		margin-top: 15px;
	}

	.content-info__text {
		grid-row: span 2 / span 2;
		grid-column-start: 2;
		grid-row-start: 1;
		order: 3;
		margin-bottom: 16px;
	}

	.content-info__link-btn {
		grid-column-start: 2;
		grid-row-start: 3;
		order: 4;
	}
	.text-info-gaming {
		max-width: 461px;
	}
	.text-info-gaming h3 {
		font-size: 26px;
	}

	/* ------------------- articles ----------------------- */
	.articles {
		background-image: url('./images/bg/bgLineArticulos-tablet.svg');
		background-position: 0px 0px;
		background-size: cover;
	}
	.marquee-articules {
		top: -163px;
	}
	.articles-cnt {
		margin-bottom: 210px;
		padding-top: 100px;
	}
	.mask-fashion {
		mask-size: 340px 224px;
	}
	.mask-design {
		mask-size: 340px 224px;
	}
	.mask-marketing {
		mask-size: 340px 224px;
	}
	.mask-software {
		mask-size: 340px 224px;
	}
	.img-wrp-cards {
		width: 340px;
		height: 224px;
	}
	.img-wrp__stiker-articles svg {
		width: 104px;
		height: 104px;
	}
	.stiker-fashion {
		left: 230px;
		top: 10.5px;
	}
	.stiker-design {
		right: 9px;
		top: 10.5px;
	}
	.stiker-marketing {
		left: 168px;
		top: -7.5px;
	}
	.stiker-marketing svg {
		width: 180px;
		height: 120px;
		transform: rotate(15deg);
	}
	.stiker-software {
		left: 234px;
		top: 8.5px;
	}
	.list-fashion {
	}
	.links-cards {
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 16px;
	}
	.list-cards {
		display: flex;
		align-items: center;
		justify-content: start;
	}
	.text-info-card .text-info__title {
		font-size: 24px;
		margin-bottom: 16px;
	}
	.text-info-card {
		max-width: 340px;
	}
	.content-info__date {
		order: 3;
	}
	.articles-cards_m_b_40 {
		margin-bottom: 76px;
	}
	.design-ux-ui__img-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 24px;
	}
	.mask-design-ux-ui {
		width: 704px;
		height: 320px;
	}
	.info-design-ux-ui {
		/* grid-template-rows: 30% 70%;
		gap: 0;
		column-gap: 24px; */
	}

	.stiker-design-ux-ui {
		right: 15px;
		top: 15.5px;
	}

	.stiker-img_r_t_60 {
		right: 5px;
		top: 8.5px;
	}
	.links-big-cards {
		justify-content: end;
	}
	.info-design-ux-ui__right {
		max-width: 461px;
	}

	/* ------------------- webinars ----------------------- */
	.webinars {
		background-image: url('./images/webinars/bg/line-bg-table.svg');
		background-repeat: no-repeat;
		background-position: 0px 47px;
	}
	.webinars:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: -50%;
		left: -50%;
		z-index: -1;
		/* background-image: url('./images/webinars/bg/line-bg.svg'); */
		background-repeat: no-repeat;
		background-position: 0px 0px;
		-webkit-transform: rotate(109deg);
		transform: rotate(109deg);
	}
	.card-mini-bg-one {
		background-image: url('./images/webinars/card/bd-card/line-bg-one-table.svg');
		background-repeat: no-repeat;
		background-position: 28px 0px;
	}
	.card-mini-bg-two {
		background-image: url('./images/webinars/card/bd-card/line-bg-two-table.svg');
		background-repeat: no-repeat;
		background-position: 28px 0px;
	}
	.card-mini-bg-three {
		background-image: url('./images/webinars/card/bd-card/line-bg-three-table.svg');
		background-repeat: no-repeat;
		background-position: 0px 0px;
	}
	.marquee-webinars {
		top: -80px;
	}
	.webinars-cnt {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: start;
		margin-bottom: 210px;
	}

	.webinars__btn {
		margin-bottom: 64px;
	}
	.webinars__up {
		margin-bottom: 64px;
	}
	.webinars__title {
		display: flex;
		align-items: center;
	}
	.webinars__title-txt {
		line-height: 215%;
		font-size: 28px;
	}
	.webinars__cards-mini {
		flex-wrap: wrap;
		gap: 24px;
	}
	.card-mini {
		width: 340px;
		max-height: 372px;
	}
	.card-mini:last-child {
		width: 100%;
		max-width: 704px;
		height: 272px;
	}
	.card-mini__title-txt {
		font-size: 24px;
	}
	/* ------------------- subscribe ----------------------- */
	.subscribe-block {
	}
	.subscribe-block-cnt {
		margin-bottom: 215px;
	}

	.section-subscribe {
		mask: none;
		max-width: 704px;
		height: 498px;
	}
	.section-subscribe__wrp {
		overflow: hidden;
		background-color: var(--turquoise-dark);
		background-image: url(./images/subscribe-block/bg/line-bg.svg);
		background-repeat: no-repeat;
		background-position: -185px -155px;
		border-radius: 24px;
		padding: 40px 165px 40px 24px;
		border-top-right-radius: 60px;
		border-bottom-right-radius: 60px;
		width: 100%;
		max-width: 557px;
		max-height: 498px;
	}
	.section-subscribe::after {
		right: 2px;
		/* z-index: 10; */
		width: 288px;
		height: 100%;
		background-image: url('./images/subscribe-block/image/illustration-tablet.png');
	}
	.section-subscribe__union {
	}

	.title-section-subscribe {
		font-size: 26px;
	}
	.subscr-successful__block {
		border-radius: 24px;
		width: 280px;
		padding: 28px 96px 24px 28px;
	}
	.subscr-successful__img-wrp {
		left: 204px;
		top: -31px;
		width: 104px;
		height: 104px;
	}
	.form-subscribe__send {
		flex-direction: column;
		align-items: start;
		justify-content: center;
	}
	.lbl-subscribe {
		font-size: var(--nunito-fz-13);
	}
	/* ------------------- footer ----------------------- */
	.footer {
		padding: 64px 32px 72px 32px;
	}
	.footer-cnt {
		align-items: center;
	}
	.footer__up {
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(4, auto);
	}

	.left-footer {
		grid-column-start: 1;
		grid-row-start: 1;
		margin-bottom: 48px;
	}

	.subscribe {
		grid-column-start: 2;
		grid-row-start: 1;
		align-items: end;
		margin-bottom: 0;
	}
	.sosial {
		grid-column-start: 1;
		grid-row-start: 2;
		margin-bottom: 88px;
	}

	.menu-footer {
		grid-column: span 2 / span 2;
		grid-row: span 2 / span 2;
		grid-column-start: 1;
		grid-row-start: 3;
		justify-content: center;
		width: 100%;
		gap: 69px;
		margin-bottom: 88px;
	}

	.menu-footer__courses {
		flex: 0 1 100px;
	}
	.menu-footer__webinars {
		flex: 0 1 104px;
	}

	.menu-footer__about {
		flex: 0 0 142px;
	}

	.menu-footer__blog {
		flex: 0 1 120px;
	}

	.contacts {
		grid-column: span 2 / span 2;
		grid-column-start: 1;
		grid-row-start: 5;
	}

	.left-footer__awards {
		width: 64px;
		height: 64px;
	}
	.container {
		padding-right: 32px;
		padding-left: 32px;
	}
}
@media (max-width: 768px) {
	.header-cnt {
		padding: 12px 8px;
	}
	.header__nav {
		justify-content: start;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}

	.header__nav a {
		min-width: fit-content;
		margin-bottom: 12px;
	}

	.header__search-icon {
		margin-right: 22px;
	}

	/* -------------- gaming ---------------- */
	.gaming {
		background-image: url('./images/bg/bgLineGaming-mobile.svg');
		background-position: 0px 0px;
		background-size: cover;
		padding-bottom: 100px;
	}
	.gaming-cnt {
		flex-direction: column;
		align-items: center;
		gap: 24px;
	}

	.gaming__img-wrp {
		width: 304px;
		height: 352px;
		mask-image: url('./images/gaming/mask-gaming.png');
	}

	.img-wrp__stiker-gaming {
		width: 104px;
		height: 104px;
	}

	.gaming__content-info {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: 16px;
	}

	.content-info__links {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: start;
		max-width: 100%;
		width: 100%;
		margin-bottom: 16px;
		font-size: var(--nunito-fz-15);
	}

	.content-info__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 16px;
	}

	.text-info__title {
		font-size: 26px;
	}

	.content-info__date {
		flex-direction: row;
		align-items: center;
		justify-content: start;
		max-width: 100%;
		width: 100%;
		order: 4;
		gap: 24px;

		margin-top: 0;
		margin-bottom: 56px;
		order: 3;
	}

	.content-info__link-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	/* -------------- articles ---------------- */
	.articles {
	}
	.articles-cnt {
		margin-bottom: 104px;
	}
	.cards {
		flex-direction: column;
		align-items: center;
		justify-content: start;
		gap: 48px;
		background-image: url('./images/bg/bgLineArticulos-mobile.svg');
		background-position: 10px 0px;
		background-size: auto;
	}
	.img-wrp-cards {
		width: 304px;
		height: 352px;
	}
	.card__img-wrapper {
		margin-bottom: 18px;
	}
	.mask-fashion {
		mask-image: url(./images/articles/mask/fashion-mobile.png);
		-webkit-mask-image: url(./images/articles/mask/fashion-mobile.png);
		mask-size: 304px 352px;
	}
	.stiker-img_l_t_47 {
		left: 15px;
		top: 8.5px;
	}
	.mask-design {
		mask-image: url(./images/articles/mask/design-mobile.png);
		-webkit-mask-image: url(./images/articles/mask/design-mobile.png);
		mask-size: 304px 352px;
	}
	.stiker-design {
		right: 55px;
		top: 10.5px;
	}
	.mask-design-ux-ui {
		width: 304px;
		height: 352px;
		mask-image: url(./images/articles/mask/design-ui-mobile.png);
		-webkit-mask-image: url(./images/articles/mask/design-ui-mobile.png);
	}
	.stiker-design-ux-ui {
		right: 198px;
		top: 15.5px;
	}
	.img-wrp-cards {
		width: 304px;
		height: 352px;
	}
	.mask-marketing {
		mask-image: url(./images/articles/mask/marketing-mobile.png);
		-webkit-mask-image: url(./images/articles/mask/marketing-mobile.png);
		mask-size: 304px 352px;
	}
	.stiker-marketing {
		left: 130px;
		top: -7.5px;
	}
	.mask-software {
		mask-image: url(./images/articles/mask/software-mobile.png);
		-webkit-mask-image: url(./images/articles/mask/software-mobile.png);
		mask-size: 304px 352px;
	}
	.stiker-img_r_t_60 {
		left: 15px;
		top: 8.5px;
	}
	.mask-software img {
		object-position: -15px top;
	}
	.content-info {
		gap: 16px;
	}
	.info-design-ux-ui {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: 16px;
	}
	.info-design-ux-ui .date-big-cards {
		margin-top: 0;
	}
	.info-design-ux-ui .date-big-cards {
		display: flex;
		flex-direction: row;
		align-items: start;
		justify-content: start;
		gap: 24px;
		margin-bottom: 0;
	}
	.design-ux-ui {
		margin-bottom: 104px;
	}
	.content-info__links {
		order: 1;
		margin: 0;
	}
	.info-design-ux-ui__right {
		order: 2;
	}
	.text-info {
		margin-bottom: 0px;
	}

	/* -------------- webinars ---------------- */
	.webinars {
		height: 100%;
		background-image: none;
	}
	.webinars-cnt {
		flex-direction: column;
		align-items: center;
		margin-bottom: 160px;
	}
	.webinars__title {
		margin-bottom: 40px;
	}
	.card-mini {
		padding: 24px;
	}
	.webinars__cards-mini {
		margin-bottom: 64px;
	}
	.bottom-card-mini {
		margin-bottom: 0px;
	}
	.webinars__cards-mini {
		flex-direction: column;
		align-items: center;
		gap: 24px;
	}
	.webinars__btn {
		order: 3;
	}
	.card-mini {
		max-width: 304px;
		height: 100%;
	}
	.card-mini:last-child {
		max-width: 304px;
		height: 100%;
	}
	.top-card-mini__name {
		font-size: 22px;
	}
	.top-card-mini__title {
		max-width: 172px;
	}
	.top-card-mini__specialization {
		width: 100%;
		/* max-width: 172px; */
	}
	.title-card-mini_m_b_31 {
		margin-bottom: 0px;
	}
	.card-mini__title {
		margin-bottom: 32px;
	}
	.card-mini__title-txt {
		font-size: 24px;
	}
	.horizon {
		margin-bottom: 12px;
	}
	.learn-time {
		display: flex;
		align-items: start;
		justify-content: start;
		gap: 15px;
		width: 100%;
	}
	.date-text__txt {
		max-width: 151px;
	}
	/* -------------- subscribe ---------------- */

	.subscribe-block {
	}
	.subscribe-block-cnt {
		margin-bottom: 220px;
	}

	.section-subscribe {
		flex-direction: column;
		align-items: center;
		justify-content: start;
		mask-image: url(./images/subscribe-block/mask/banner-shape-mobile.png);
		-webkit-mask-image: url(./images/subscribe-block/mask/banner-shape-mobile.png);
		mask-repeat: no-repeat;
		mask-size: 304px 100%;
		mask-position: center;
		width: 100%;
		height: 100%;
	}
	.section-subscribe__wrp {
		overflow: hidden;
		background-color: var(--turquoise-dark);
		background-image: url(./images/subscribe-block/bg/line-bg-mobile.svg);
		background-repeat: no-repeat;
		background-position: -185px -155px;
		width: 100%;
		max-width: 304px;
		height: 100%;
		max-height: 1070px;

		padding: 65px 24px 480px 24px;
	}
	.section-subscribe::after {
		right: 50%;
		bottom: 0;
		transform: translateX(50%);
		width: 304px;
		height: 400px;
		background-image: url('./images/subscribe-block/image/illustration-mobile.png');
		background-size: 100% 100%;
		background-position: bottom center;
	}
	.section-subscribe__union {
		align-items: center;
		gap: 80px;
	}
	.text-info__title {
		margin-bottom: 8px;
	}
	.form-subscribe__send {
		align-items: center;
		justify-content: center;
	}

	.form-subscribe__input {
		width: 256px;
		height: 49px;
	}
	.subscribe-btn {
		width: 256px;
		height: 49px;
	}
	.subscr-successful__block {
		width: 256px;
		padding: 28px 64px 28px 15px;
	}
	.subscr-successful__img-wrp {
		left: 167px;
	}

	/* -------------- footer ---------------- */
	.footer {
		padding: 32px 8px 48px 8px;
	}

	.footer__up {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
	}

	.left-footer {
		justify-content: space-between;
		width: 304px;
		height: 64px;
		order: 1;
		margin: 0;
		margin-bottom: 40px;
	}

	.sosial {
		order: 2;
		margin-bottom: 48px;
	}

	.menu-footer {
		display: none;
	}
	.menu-footer-tabs {
		display: block;
		width: 100%;
		margin-bottom: 48px;
		order: 3;
	}

	.contacts {
		width: 100%;
		flex-direction: column;
		align-items: start;
		gap: 16px;

		order: 4;
		margin-bottom: 64px;
	}
	.subscribe {
		order: 5;
		width: 100%;
		align-items: center;
		margin-bottom: 64px;
	}

	.privicy {
		flex-direction: column;
		align-items: start;
		gap: 16px;
	}
	.privicy__separator {
		display: none;
	}

	.logo-left-footer {
		max-width: 173px;
		max-height: 64px;
	}
	.container {
		padding-right: 8px;
		padding-left: 8px;
	}
}

@media (max-width: 320px) {
}
