@font-face {
	font-family: 'ArchivoBlack';
	font-weight: 400;
	line-height: 120;
	src: url(./fonts/Archivo_Black/ArchivoBlack-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 400;
	src: url(./fonts/Nunito/Nunito-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Nunito';
	font-weight: 500;
	src: url(./fonts/Nunito/Nunito-Medium.ttf) format('truetype');
}
@font-face {
	font-family: 'Nunito';
	font-weight: 700;
	src: url(./fonts/Nunito/Nunito-Bold.ttf) format('truetype');
}

:root {
	--max-w-body: 1440px;
	--max-w-cnt: 1208px;

	--font-family: 'Nunito', sans-serif;
	--font-size: 18px;
	--font-weight: 500;

	/* ------------------- main colors ----------------- */
	--black: #1b1f21;
	--white: #fcfaf9;
	--white-def: #ffffff;
	--white-tr90: rgba(252, 250, 249, 0.9);
	--pale: #e8e8e8;
	--gray80: #434343;
	--gray70: #757778;
	--gray35: #aeaeae;
	--gray20: #d9d9d8;
	--gray15: #e8e8e8;
	--gray5: #f2f2f2;
	--gray5-tr20: rgba(242, 242, 242, 0.2);

	/* ------------------- tag colors ----------------- */
	--pink: #ec95b1;
	--sky: #a4ccfe;
	--violet: #d0b0fa;
	--grass: #bedb39;
	--turquoise: #acd6de;
	--tangerine: #ffad20;
	--coral: #fe8968;
	--mint: #aedfd6;
	--marine: #90eecb;

	/* ------------------- text colors ----------------- */
	--pink-dark: #da3369;
	--sky-dark: #5fa5fd;
	--violet-dark: #9853f4;
	--grass-dark: #94ac23;
	--turquoise-dark: #57acbc;
	--tangerine-dark: #ef9700;
	--coral-dark: #fe6d44;
	--mint-dark: #57bcaa;
	--marine-dark: #22c98b;

	/* ------------------- text style ----------------- */

	--archivo-black-h1-fz: 58px;
	--archivo-black-h2-fz: 46px;
	--archivo-black-h3-fz: 36px;
	--archivo-black-h4-fz: 30px;
	--archivo-black-h5-fz: 26px;
	--archivo-black-h5-fz: 26px;

	--nunito-fz-21: 21px;
	--nunito-fz-18: 18px;
	--nunito-fz-15: 15px;
	--nunito-fz-13: 13px;
}

body {
	width: 100%;
	max-width: var(--max-w-body);
	margin: 0 auto;
	font-family: 'Nunito', Arial, sans-serif;
	color: var(--black);
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	font-style: normal;
	background-color: var(--white-def);
	overflow-x: hidden;
}

.container {
	width: 100%;
	max-width: var(--max-w-cnt);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}
/* ---------------------- btn ------------------------- */
.btn {
	display: inline-block;
	white-space: nowrap;
	font-size: var(--nunito-fz-15);
	padding: 8px 18px;
	border: 1px solid var(--gray15);
	border-radius: 18px;
	background-color: var(--white-def);
	overflow: hidden;

	transition: all 0.2s ease-in-out;
}
.design_bgc_active:active,
.design_bgc_hover:hover {
	background-color: var(--pink);
	border-color: var(--pink);
}

.programming_bgc_active:active,
.programming_bgc_hover:hover {
	background-color: var(--sky);
	border-color: var(--sky);
}

.gaming_bgc_active:active,
.gaming_bgc_hover:hover {
	background-color: var(--grass);
	border-color: var(--grass);
}

.marketing_bgc_active:active,
.marketing_bgc_hover:hover {
	background-color: var(--tangerine);
	border-color: var(--tangerine);
}

.software_bgc_active:active,
.software_bgc_hover:hover {
	background-color: var(--turquoise);
	border-color: var(--turquoise);
}

.career_bgc_active:active,
.career_bgc_hover:hover {
	background-color: var(--mint);
	border-color: var(--mint);
}

.btn_footer {
	color: var(--white);
	background-color: var(--violet-dark);
	font-size: var(--nunito-fz-18);
	font-weight: 700;
	border-radius: 24px;
	border-color: var(--violet-dark);
	width: 280px;
	height: 49px;
}

.footer_bgc_active:active,
.footer_bgc_hover:hover {
	background-color: var(--pink-dark);
	border-color: var(--pink-dark);
}

.footer_bgc_disabled:disabled {
	color: var(--gray35);
	background-color: var(--violet-dark);
	border-color: var(--violet-dark);
}
.footer_bgc_focus:focus {
	background-color: var(--violet-dark);
	border-color: var(--white);
}
/* ---------------------- link ------------------------- */
.link {
	position: relative;
	top: 0;
	left: 0;
}
.link::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: var(--black);
	top: 100%;
	left: 0;
	pointer-events: none;
}
.link_metis_color_grass::before {
	background-color: var(--grass);
}
.link_metis_color_white::before {
	background-color: var(--white);
}

.link_metis::before {
	transform-origin: 100% 50%;
	transform: scale3d(0, 1, 1);
	transition: transform 0.3s;
}

.link_metis:hover::before {
	transform-origin: 0% 50%;
	transform: scale3d(1, 1, 1);
}

/* ---------------------- icon ------------------------- */
.icon {
	display: flex;
	align-items: center;
	justify-content: end;
}

.icon-search {
}
.icon-arrow {
}
/* ---------------------- logo ------------------------- */
.logo {
	text-align: center;
	width: 100%;
	max-width: 108px;
	height: 100%;
	max-height: 40px;
	margin-right: 1rem;
}
.logo-left-footer {
	max-width: 224px;
	max-height: 82px;
	margin-right: 0;
}
.logo__link {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.logo_color_hover svg path,
.logo_color_active svg path {
	transition: fill 0.2s ease-in-out;
}

.logo_color_hover:hover svg path,
.logo_color_active:active svg path {
	fill: var(--pink-dark);
}
.logo_color_white svg path {
	fill: var(--white);
}
.logo_color_white svg {
	background-color: var(--black);
}

/* ---------------------- img ------------------------- */
.img-wrp {
	position: relative;
	top: 0;
	left: 0;
}
.img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/* ---------------------- input ------------------------- */
.input {
	display: inline-block;
	font-size: var(--nunito-fz-18);
	padding: 8px 18px;
	border: 1.5px solid var(--gray15);
	border-radius: 24px;
	background-color: var(--white-def);
	overflow: hidden;
	color: var(--pale);

	transition: all 0.2s ease-in-out;
}

.input:hover {
	color: var(--white);
}

/* .input_:disabled {
	color: var(--pale);
}

.input:focus {
	color: var(--black);
} */

.input_footer {
	width: 280px;
	height: 49px;
	color: var(--pale);
	border: 1px solid var(--white);
	background-color: inherit;
}
.input_footer::placeholder {
	color: var(--pale);
}

/* ---------------------- accordion ------------------------- */
.tabs {
	overflow: hidden;
	color: var(--white);
}

.tab {
	width: 100%;
	overflow: hidden;
}
.tab__inp {
	display: none;
}
.tab__label {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	color: var(--gray70);
	padding: 16px 10px 16px 0px;
	cursor: pointer;
}

.tab__label::after {
	content: '\276F';
	width: 0em;
	height: 1.2em;
	font-size: 14px;
	color: var(--white);
	transform: rotate(90deg);
	text-align: center;
	transition: all 0.2s;
}

.tab__content {
	max-height: 0;
	color: var(--white);
	transition: all 0.2s;
}

input:checked + .tab__label::after {
	width: 0.8em;
	height: 1.5em;
	transform: rotate(270deg);
}

input:checked ~ .tab__content {
	max-height: 100vh;
	padding: 8px 0;
}

/* ---------------------- header ------------------------- */
.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding: 16px 8px;
}

.header__nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
	margin: 0 8px;
}

.header__button {
}

.header__right-search-block {
	display: flex;
	align-items: center;

	width: 100%;
	max-width: 114px;
}

.header__search-icon {
	margin-right: 26px;
}

.header__search-btn {
	display: flex;
	align-items: center;
	justify-content: end;
	width: 22px;
	height: 24px;
}

.header__transition {
}

.transition-header {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.transition-header__name {
	display: flex;
	align-items: center;
	text-transform: uppercase;
}
.transition-header__text {
	margin-right: 8px;
}
.transition-header__icon {
	display: flex;
	align-items: center;
	justify-content: end;
}

/* ---------------------- main ------------------------- */
main {
	padding-top: 72px;
}

/* ---------------------- footer ------------------------- */
.footer {
	width: 100%;
	color: var(--white);
	font-size: var(--nunito-fz-18);
	font-weight: 700;
	background-color: var(--black);
	padding: 64px 116px 80px 116px;
}

.footer__up {
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-template-rows: repeat(3, auto);
	gap: 0px;
	flex-wrap: wrap;
	border-bottom: 1px solid var(--gray80);
	padding-bottom: 32px;
	margin-bottom: 32px;
}

.left-footer {
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 48px;

	width: 352px;
	height: 82px;
	margin-right: 168px;
	margin-bottom: 80px;
}

.left-footer__awards {
	width: 80px;
	height: 80px;
}

.subscribe {
	grid-column-start: 1;
	grid-row-start: 2;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 8px;
	margin-bottom: 96px;
}

.subscribe__subscribe-to-newsletter {
}

.footer__up-menu {
}

.menu-footer {
	grid-column: span 3 / span 3;
	grid-row: span 2 / span 2;
	grid-column-start: 3;
	grid-row-start: 1;
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 64px;
	flex-wrap: nowrap;
}
.menu-footer-tabs {
	display: none;
}
.menu-footer h3 {
	text-transform: uppercase;
	color: var(--gray70);
	margin-bottom: 32px;
}

.menu-footer__courses {
	max-width: 100px;
}

.menu-footer__title {
}

.menu-footer__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: var(--nunito-fz-15);
	font-weight: 500;
}

.menu-footer__webinars {
	max-width: 104px;
}

.menu-footer__about {
}

.menu-footer__blog {
	max-width: 120px;
}
.footer__up-contacts {
}

.contacts {
	grid-column: span 4 / span 4;
	grid-row-start: 3;
	display: flex;
	align-items: start;
	justify-content: start;
	gap: 40px;
	font-size: var(--nunito-fz-13);
}

.contacts-item {
}

.contacts-item a {
	font-size: var(--nunito-fz-18);
	font-weight: 700;
}

.contacts-item__title {
	text-transform: uppercase;
	color: var(--gray35);
	margin-bottom: 6px;
}

.contacts__wsp {
}

.contacts__tel {
}

.contacts__title {
}

.contacts__email {
}

.footer__up-sosial {
}

.sosial {
	grid-column-start: 5;
	grid-row-start: 3;
	display: flex;
	align-items: center;
	justify-content: end;
	width: 200px;
}

.list-sosial {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
}

.list-sosial__item {
}
.list-sosial__item a {
	display: flex;
	align-items: center;
	justify-content: center;
}

.list-sosial__link {
}

.instagram-icon {
}

.facebook-icon {
}

.youtube-icon {
}
.linkedin-icon {
}
.footer__privicy {
}
.privicy {
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 8px;
	text-transform: uppercase;
	color: var(--gray35);
	font-size: var(--nunito-fz-13);
	font-weight: 500;
}
.privicy__text {
}
.privicy__separator {
}
/* ---------------------- media ------------------------- */
@media (max-width: 1440px) {
	.header {
	}
}

@media (max-width: 1279px) {
	.header {
		flex-wrap: wrap;
	}

	.header__nav {
		order: 3;
	}
	.footer {
		padding: 64px 32px 72px 32px;
	}
	.footer__up {
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(4, auto);
	}

	.left-footer {
		grid-column-start: 1;
		grid-row-start: 1;
		margin-bottom: 48px;
	}

	.subscribe {
		grid-column-start: 2;
		grid-row-start: 1;
		align-items: end;
		margin-bottom: 0;
	}
	.sosial {
		grid-column-start: 1;
		grid-row-start: 2;
		margin-bottom: 88px;
	}

	.menu-footer {
		grid-column: span 2 / span 2;
		grid-row: span 2 / span 2;
		grid-column-start: 1;
		grid-row-start: 3;
		width: 100%;
		margin-bottom: 88px;
	}

	.contacts {
		grid-column: span 2 / span 2;
		grid-column-start: 1;
		grid-row-start: 5;
	}

	.left-footer__awards {
		width: 64px;
		height: 64px;
	}
}
@media (max-width: 768px) {
	.header__nav {
		justify-content: start;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}

	.header__nav a {
		min-width: fit-content;
		margin-bottom: 12px;
	}

	.header__search-icon {
		margin-right: 22px;
	}

	.footer {
		padding: 32px 8px 48px 8px;
	}

	.footer__up {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
	}

	.left-footer {
		justify-content: space-between;
		width: 304px;
		height: 64px;
		order: 1;
		margin: 0;
		margin-bottom: 40px;
	}

	.sosial {
		order: 2;
		margin-bottom: 48px;
	}

	.menu-footer {
		display: none;
	}
	.menu-footer-tabs {
		display: block;
		width: 100%;
		margin-bottom: 48px;
		order: 3;
	}

	.contacts {
		width: 100%;
		flex-direction: column;
		align-items: start;
		gap: 16px;

		order: 4;
		margin-bottom: 64px;
	}
	.subscribe {
		order: 5;
		width: 100%;
		align-items: center;
		margin-bottom: 64px;
	}

	.privicy {
		flex-direction: column;
		align-items: start;
		gap: 16px;
	}
	.privicy__separator {
		display: none;
	}

	.logo-left-footer {
		max-width: 173px;
		max-height: 64px;
	}
}

@media (max-width: 320px) {
}
