@font-face {
	font-family: 'ArchivoBlack';
	font-weight: 400;
	line-height: 120;
	src: url(./fonts/Archivo_Black/ArchivoBlack-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 400;
	src: url(./fonts/Nunito/Nunito-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Nunito';
	font-weight: 500;
	src: url(./fonts/Nunito/Nunito-Medium.ttf) format('truetype');
}
@font-face {
	font-family: 'Nunito';
	font-weight: 700;
	src: url(./fonts/Nunito/Nunito-Bold.ttf) format('truetype');
}

:root {
	--max-w-body: 1440px;
	--max-w-cnt: 1208px;

	--font-family: 'Nunito', sans-serif;
	--font-size: 18px;
	--font-weight: 500;

	/* ------------------- main colors ----------------- */
	--black: #1b1f21;
	--white: #fcfaf9;
	--white-def: #ffffff;
	--white-tr90: rgba(252, 250, 249, 0.9);
	--pale: #e8e8e8;
	--gray80: #434343;
	--gray70: #757778;
	--gray35: #aeaeae;
	--gray20: #d9d9d8;
	--gray15: #e8e8e8;
	--gray5: #f2f2f2;
	--gray5-tr20: rgba(242, 242, 242, 0.2);

	/* ------------------- tag colors ----------------- */
	--pink: #ec95b1;
	--sky: #a4ccfe;
	--violet: #d0b0fa;
	--grass: #bedb39;
	--turquoise: #acd6de;
	--tangerine: #ffad20;
	--coral: #fe8968;
	--mint: #aedfd6;
	--marine: #90eecb;

	/* ------------------- text colors ----------------- */
	--pink-dark: #da3369;
	--sky-dark: #5fa5fd;
	--violet-dark: #9853f4;
	--grass-dark: #94ac23;
	--turquoise-dark: #57acbc;
	--tangerine-dark: #ef9700;
	--coral-dark: #fe6d44;
	--mint-dark: #57bcaa;
	--marine-dark: #22c98b;

	/* ------------------- text style ----------------- */

	--archivo-black-h1-fz: 58px;
	--archivo-black-h2-fz: 46px;
	--archivo-black-h3-fz: 36px;
	--archivo-black-h4-fz: 30px;
	--archivo-black-h5-fz: 26px;
	--archivo-black-h5-fz: 26px;

	--nunito-fz-21: 21px;
	--nunito-fz-18: 18px;
	--nunito-fz-15: 15px;
	--nunito-fz-13: 13px;
}

body {
	width: 100%;
	max-width: var(--max-w-body);
	margin: 0 auto;
	font-family: 'Nunito', Arial, sans-serif;
	color: var(--black);
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	font-style: normal;
	background-color: var(--white-def);
	overflow-x: hidden;
}
main {
	overflow-x: hidden;
}
.container {
	width: 100%;
	max-width: var(--max-w-cnt);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

/* ---------------------- btn ------------------------- */
.btn {
	display: inline-block;
	white-space: nowrap;
	font-size: var(--nunito-fz-15);
	padding: 8px 18px;
	border: 1px solid var(--gray15);
	border-radius: 18px;
	background-color: var(--white-def);
	overflow: hidden;

	transition: all 0.2s ease-in-out;
}
.design_bgc_active:active,
.design_bgc_hover:hover {
	background-color: var(--pink);
	border-color: var(--pink);
}

.programming_bgc_active:active,
.programming_bgc_hover:hover {
	background-color: var(--sky);
	border-color: var(--sky);
}

.gaming_bgc_active:active,
.gaming_bgc_hover:hover {
	background-color: var(--grass);
	border-color: var(--grass);
}

.marketing_bgc_active:active,
.marketing_bgc_hover:hover {
	background-color: var(--tangerine);
	border-color: var(--tangerine);
}

.software_bgc_active:active,
.software_bgc_hover:hover {
	background-color: var(--turquoise);
	border-color: var(--turquoise);
}

.career_bgc_active:active,
.career_bgc_hover:hover {
	background-color: var(--mint);
	border-color: var(--mint);
}

.btn_footer {
	color: var(--white);
	background-color: var(--violet-dark);
	font-size: var(--nunito-fz-18);
	font-weight: 700;
	border-radius: 24px;
	border-color: var(--violet-dark);
	width: 280px;
	height: 49px;
}

.footer_bgc_active:active,
.footer_bgc_hover:hover {
	background-color: var(--pink-dark);
	border-color: var(--pink-dark);
}

.footer_bgc_disabled:disabled {
	color: var(--gray35);
	background-color: var(--violet-dark);
	border-color: var(--violet-dark);
}
.footer_bgc_focus:focus {
	background-color: var(--violet-dark);
	border-color: var(--white);
}

/* ---------------------- list ------------------------- */
.list {
}
.list-gaming {
	color: var(--grass-dark);
}

.list-fashion {
	color: var(--marine);
}

.list-design {
	color: var(--pink);
}
.list-marketing {
	color: var(--tangerine);
}
.list-software {
	color: var(--turquoise);
}

.list__item {
	display: flex;
	align-items: center;
}
.list__link {
}
/* ---------------------- link ------------------------- */
.link {
	position: relative;
	top: 0;
	left: 0;
}
.link::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: var(--black);
	top: 100%;
	left: 0;
	pointer-events: none;
}
.link_metis_color_grass::before {
	background-color: var(--grass);
}
.link_metis_color_white::before {
	background-color: var(--white);
}

.link_metis::before {
	transform-origin: 100% 50%;
	transform: scale3d(0, 1, 1);
	transition: transform 0.3s;
}

.link_metis:hover::before {
	transform-origin: 0% 50%;
	transform: scale3d(1, 1, 1);
}

.link-gaming {
	color: var(--black);
	background-color: var(--grass);
}
.link-fashion {
	color: var(--black);
	background-color: var(--marine);
}
.link-design {
	color: var(--black);
	background-color: var(--pink);
}
.link-marketing {
	color: var(--black);
	background-color: var(--tangerine);
}
.link-software {
	color: var(--black);
	background-color: var(--turquoise);
}
/* ---------------------- icon ------------------------- */
.icon {
	display: flex;
	align-items: center;
	justify-content: end;
}

.icon-search {
}
.icon-arrow {
}

.icon-separator-run-line {
	display: inline-block;
	width: 40px;
	height: 58px;
}
/* ---------------------- logo ------------------------- */
.logo {
	text-align: center;
	width: 100%;
	max-width: 108px;
	height: 100%;
	max-height: 40px;
	margin-right: 1rem;
}
.logo-left-footer {
	max-width: 224px;
	max-height: 82px;
	margin-right: 0;
}
.logo__link {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.logo_color_hover svg path,
.logo_color_active svg path {
	transition: fill 0.2s ease-in-out;
}

.logo_color_hover:hover svg path,
.logo_color_active:active svg path {
	fill: var(--pink-dark);
}
.logo_color_white svg path {
	fill: var(--white);
}
.logo_color_white svg {
	background-color: var(--black);
}

/* ---------------------- img ------------------------- */
.img-wrp {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 584px;
	height: 328px;
}

.img {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	object-fit: cover;
}

.mask {
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
}

.stiker-img {
	position: absolute;
	z-index: 2;
}

.stiker-img_r_t_0 {
	right: 0;
	top: 0;
}
.stiker-img_l_t_47 {
	left: -40px;
	top: -47.5px;
}
.stiker-img_r_t_47 {
	right: -40px;
	top: -47.5px;
}
.stiker-img_l_t_80 {
	left: -57px;
	top: -80.5px;
}
.stiker-img_r_t_60 {
	right: -40px;
	top: -52.5px;
}
/* ---------------------- bg item ------------------------- */
.bg-item {
	position: absolute;
	z-index: -1;
}

.gaming__bg {
	top: -70px;
	left: 5px;
	width: 1622.78px;
	height: 993.37px;
	transform: rotate(-1.7deg);
}

.articles__bg {
	top: 226px;
	left: -639px;
	width: 2515px;
	height: 2102px;
	transform: rotate(0.8deg);
}
.img-bg {
	/* position: absolute;
	top: 47.7px;
	left: 112px;
	width: 100%;
	height: 100%;
	/* color: var(--gray5);
	color: green; */
}

/* ---------------------- running line ------------------------- */
.marquee-wrp {
	position: absolute;
	top: -92px;
	left: -15px;
	width: 1500px;
	display: flex;
	overflow: hidden;
	user-select: none;
	box-sizing: border-box;
	background: var(--turquoise);
	font-family: 'ArchivoBlack', Arial, sans-serif;
	font-size: 58px;
	font-weight: 400;
	line-height: 120%;
	font-style: normal;
	color: var(--black);
	text-align: center;
	white-space: nowrap;
	padding: 23px 0;
	transform: rotate(-4deg);
}

.marquee-items {
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	min-width: 100%;
}
.marquee-item {
	display: flex;
	justify-content: center;
	align-items: center;
}
.marquee-item span {
	margin: 0 48px;
}
.marquee-wrp:hover .marquee {
	animation-play-state: paused;
}

.marquee {
	animation: scroll 17s linear infinite running;
}
@keyframes scroll {
	0% {
		transform: translate3d(-25%, 0, 0);
	}
	100% {
		transform: translate3d(-50%, 0, 0);
	}
}

/* ---------------------- input ------------------------- */
.input {
	display: inline-block;
	font-size: var(--nunito-fz-18);
	padding: 8px 18px;
	border: 1.5px solid var(--gray15);
	border-radius: 24px;
	background-color: var(--white-def);
	overflow: hidden;
	color: var(--pale);

	transition: all 0.2s ease-in-out;
}

.input:hover {
	color: var(--white);
}

/* .input_:disabled {
	color: var(--pale);
}

.input:focus {
	color: var(--black);
} */

.input_footer {
	width: 280px;
	height: 49px;
	color: var(--pale);
	border: 1px solid var(--white);
	background-color: inherit;
}
.input_footer::placeholder {
	color: var(--pale);
}

/* ---------------------- cards ------------------------- */
.cards {
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 40px;
}
.articles-cards {
	margin-bottom: 136px;
}
.mask-fashion {
	mask-image: url(./images/articles/mask/fashion.png);
	-webkit-mask-image: url(./images/articles/mask/fashion.png);
}
.mask-design {
	mask-image: url(./images/articles/mask/design.png);
	-webkit-mask-image: url(./images/articles/mask/design.png);
}
.mask-design-ux-ui {
	width: 1208px;
	height: 520px;
	mask-image: url(./images/articles/mask/design-ui.png);
	-webkit-mask-image: url(./images/articles/mask/design-ui.png);
}
.mask-marketing {
	mask-image: url(./images/articles/mask/marketing.png);
	-webkit-mask-image: url(./images/articles/mask/marketing.png);
	mask-size: 584px 328px;
}
.mask-software {
	mask-image: url(./images/articles/mask/software.png);
	-webkit-mask-image: url(./images/articles/mask/software.png);
	mask-size: 584px 328px;
}
.card__img-wrapper {
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 32px;
}
.design-ux-ui__img-wrapper {
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 48px;
}
.card-design:hover .stiker-design {
	animation: spin 7s infinite linear;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
/* ---------------------- accordion ------------------------- */
.tabs {
	overflow: hidden;
	color: var(--white);
}

.tab {
	width: 100%;
	overflow: hidden;
}
.tab__inp {
	display: none;
}
.tab__label {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	color: var(--gray70);
	padding: 16px 10px 16px 0px;
	cursor: pointer;
}

.tab__label::after {
	content: '\276F';
	width: 0em;
	height: 1.2em;
	font-size: 14px;
	color: var(--white);
	transform: rotate(90deg);
	text-align: center;
	transition: all 0.2s;
}

.tab__content {
	max-height: 0;
	color: var(--white);
	transition: all 0.2s;
}

input:checked + .tab__label::after {
	width: 0.8em;
	height: 1.5em;
	transform: rotate(270deg);
}

input:checked ~ .tab__content {
	max-height: 100vh;
	padding: 8px 0;
}

/* ---------------------- header ------------------------- */
.header {
}

.header-cnt {
	flex-direction: row;
	gap: 1rem;
	padding: 16px 0;
}

.header__nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
	margin: 0 8px;
}

.header__button {
}

.header__right-search-block {
	display: flex;
	align-items: center;

	width: 100%;
	max-width: 114px;
}

.header__search-icon {
	margin-right: 26px;
}

.header__search-btn {
	display: flex;
	align-items: center;
	justify-content: end;
	width: 22px;
	height: 24px;
}

.header__transition {
}

.transition-header {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.transition-header__name {
	display: flex;
	align-items: center;
	text-transform: uppercase;
}
.transition-header__text {
	margin-right: 8px;
}
.transition-header__icon {
	display: flex;
	align-items: center;
	justify-content: end;
}

/* ---------------------- gaming ------------------------- */
.gaming {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
}

.gaming__bg-img {
}

.gaming-cnt {
	flex-direction: row;
	flex-wrap: wrap;
	gap: 40px;
	padding: 80px 0 224px 0;
}

.gaming__img-wrapper {
	position: relative;
	top: 0;
	left: 0;
}

.gaming__img-wrp {
	width: 480px;
	height: 560px;
	mask-image: url('./images/gaming/mask-gaming.png');
}
.img-wrp {
}
.img-wrp__imamge {
}
.img {
}
.img-wrp__stiker-gaming {
	width: 180px;
	height: 180px;
}
.stiker-img {
}
.stiker-img_r_t_0 {
}

.gaming__content-info {
}

.content-info-gaming {
}

.content-info {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}
.content-info__links {
	display: flex;
	align-items: center;
	justify-content: start;
	margin-bottom: 18px;
}
.content-info__list {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 16px;
}

.text-info-gaming h3 {
	font-size: 36px;
}

.text-info {
	max-width: 688px;
	margin-bottom: 16px;
}

.text-info__title {
	font-family: 'ArchivoBlack', Arial, sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 120%;
	font-style: normal;
	color: var(--black);
	margin-bottom: 16px;
}

.text-info__sub-text {
	max-width: 480px;
	font-weight: 400;
	line-height: 160%;
	color: var(--gray70);
}

.content-info__date {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 24px;
	font-size: var(--nunito-fz-15);
	font-weight: 400;
	color: var(--gray35);
	margin-bottom: 56px;
}
.content-info__date-text {
}
.date-text {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 8px;
}
.date-text__icon {
}
.date-text__txt {
}
.content-info__time {
}
.time {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}
.time__icon {
}
.time__text {
}
.content-info__link {
}
.link-btn-gaming {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	outline: 1.5px solid var(--black);
	outline-offset: -5px;
	width: 222px;
	height: 49px;
	border-radius: 40px;
	background-color: var(--grass);
	margin-left: 5px;
}

.link-btn-gaming_active:active {
	color: var(--white-def);
	background-color: var(--black);
	outline: none;
}

.link-btn-gaming_hover:hover {
	color: var(--white-def);
	background-color: var(--black);
	outline: none;
}

.link-btn-gaming_disabled:disabled {
	opacity: 0.7;
}

.link-btn-gaming_focus:focus {
	outline-offset: 0;
}

/* ---------------------- articles ------------------------- */
.articles {
	position: relative;
	top: 0;
	left: 0;
	padding: 224px 0 136px 0;
}
.design-ux-ui {
	margin-bottom: 136px;
}
.design-ux-ui__info {
}
.info-design-ux-ui {
	display: grid;
	grid-template-rows: 30% 70%;
	grid-template-columns: repeat(2, auto);
	gap: 24px;
	width: 100%;
	height: 100%;
}
.info-design-ux-ui .date-big-cards {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: center;
	gap: 8px;
	margin-bottom: 0;
}
.info-design-ux-ui .date-big-cards .date-text {
	flex-direction: row-reverse;
}
.info-design-ux-ui .date-big-cards .time {
	flex-direction: row-reverse;
}
.content-info {
}

.content-info__links {
}
/* --------------------------------------- */
.list-design-ux-ui {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(2, auto);
	gap: 10px;
}
.list-design-ux-ui li:first-child {
	grid-column: span 3 / span 3;
	align-items: start;
	justify-content: end;
}
.item-design-ux-ui {
	justify-content: end;
}
.date-big-cards {
	width: 100%;
	grid-column-start: 1;
	grid-row-start: 2;
	align-items: start;
	gap: 24px;
	order: 2;
	margin-bottom: 56px;
}
/* --------------------------------------- */
.content-info__list {
}
.list {
}
.list-design {
}
.list__item {
}
.list__link {
}
.btn {
}
.link-design {
}

.content-info__date-text {
}
.date-text {
}
.date-text__icon {
}
.icon {
}
.date-text__txt {
}
.content-info__time {
}
.time {
}
.time__icon {
}
.time__text {
}
.info-design-ux-ui__right {
}
.content-info__text {
}
.text-info {
}
.text-info-articles {
}
.text-info-card {
	max-width: 584px;
}
.text-info__title {
}
.title-design-ux-ui {
	margin-bottom: 8px;
}
.text-info__sub-text {
}
.sub-text-design-ux-ui {
	max-width: 100%;
}
/* ---------------------- footer ------------------------- */
.footer {
	width: 100%;
	color: var(--white);
	font-size: var(--nunito-fz-18);
	font-weight: 700;
	background-color: var(--black);
	padding: 64px 0px 80px 0px;
}

.footer-cnt {
	align-items: start;
}

.footer__up {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(3, auto);
	gap: 0px;
	flex-wrap: wrap;
	border-bottom: 1px solid var(--gray80);
	padding-bottom: 32px;
	margin-bottom: 32px;
}

.left-footer {
	grid-column-start: 1;
	grid-row-start: 1;
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 48px;

	width: 352px;
	height: 82px;

	/* 9.3rem clamp(40px, 5.3em, 168px)*/
	margin-right: 168px;
	margin-bottom: 80px;
}

.left-footer__awards {
	width: 80px;
	height: 80px;
}

.subscribe {
	grid-column-start: 1;
	grid-row-start: 2;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 8px;
	margin-bottom: 96px;
}

.subscribe__subscribe-to-newsletter {
}

.footer__up-menu {
}

.menu-footer {
	grid-column: span 2 / span 4;
	grid-row: span 2 / span 2;
	grid-column-start: 2;
	grid-row-start: 1;
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 64px;
	flex-wrap: nowrap;
}
.menu-footer-tabs {
	display: none;
}
.menu-footer h3 {
	text-transform: uppercase;
	color: var(--gray70);
	margin-bottom: 32px;
}

.menu-footer__courses {
	flex: 1 1 100px;
}

.menu-footer__title {
}

.menu-footer__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: var(--nunito-fz-15);
	font-weight: 500;
}

.menu-footer__webinars {
	flex: 1 1 104px;
}

.menu-footer__about {
	flex: 1 0 142px;
}

.menu-footer__blog {
	flex: 1 1 120px;
}
.footer__up-contacts {
}

.contacts {
	grid-column: span 4 / span 4;
	grid-row-start: 3;
	display: flex;
	align-items: start;
	justify-content: start;
	gap: 40px;
	font-size: var(--nunito-fz-13);
}

.contacts-item {
}

.contacts-item a {
	font-size: var(--nunito-fz-18);
	font-weight: 700;
}

.contacts-item__title {
	text-transform: uppercase;
	color: var(--gray35);
	margin-bottom: 6px;
}

.contacts__wsp {
}

.contacts__tel {
}

.contacts__title {
}

.contacts__email {
}

.footer__up-sosial {
}

.sosial {
	grid-column-start: 5;
	grid-row-start: 3;
	display: flex;
	align-items: center;
	justify-content: end;
	width: 200px;
}

.list-sosial {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
}

.list-sosial__item {
}
.list-sosial__item a {
	display: flex;
	align-items: center;
	justify-content: center;
}

.list-sosial__link {
}

.instagram-icon {
}

.facebook-icon {
}

.youtube-icon {
}
.linkedin-icon {
}
.footer__privicy {
}
.privicy {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 8px;
	text-transform: uppercase;
	color: var(--gray35);
	font-size: var(--nunito-fz-13);
	font-weight: 500;
}
.privicy__text {
}
.privicy__separator {
}
/* ---------------------- media ------------------------- */
@media (max-width: 1440px) {
	.header {
	}
}

@media (max-width: 1279px) {
	.header-cnt {
		flex-wrap: wrap;
		padding: 16px 8px;
	}

	.header__nav {
		order: 3;
	}

	/* ---------------- gaming -------------------- */
	.gaming__bg {
		top: 4px;
		left: -456px;
		transform: rotate(173.7deg);
	}

	.gaming-cnt {
		flex-direction: column;
		align-items: center;
		gap: 24px;
		padding: 80px 0 224px 0;
	}

	.mask-gaming {
		width: 704px;
		height: 320px;
		mask-image: url('./images/gaming/mask-gaming-tablet.png');
	}

	.img-wrp__stiker-gaming {
		width: 120px;
		height: 120px;
	}
	.info-design-ux-ui {
		gap: 0;
	}
	.content-info-big-card {
		display: grid;
		grid-template-rows: 30% 53% 17%;
		grid-template-columns: repeat(2, auto);
		column-gap: 24px;
		width: 100%;
		height: 100%;
	}

	.content-info__links {
		grid-column-start: 1;
		grid-row-start: 1;
		order: 1;
		margin-bottom: 0;
	}

	.content-info__list {
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-template-rows: repeat(2, auto);
		gap: 12px;
	}
	.content-info__list li:first-child {
		grid-column: span 3 / span 3;
		align-items: start;
		justify-content: end;
	}
	.list__item {
		justify-content: end;
	}
	.date-big-cards {
		grid-column-start: 1;
		grid-row-start: 2;
		flex-direction: column;
		align-items: end;
		gap: 8px;
		order: 2;
		margin-top: 20px;
	}

	.date-big-cards .date-text {
		flex-direction: row-reverse;
	}
	.date-big-cards .time {
		flex-direction: row-reverse;
	}

	.info-design-ux-ui .date-big-cards {
		margin-top: 15px;
	}

	.content-info__text {
		grid-row: span 2 / span 2;
		grid-column-start: 2;
		grid-row-start: 1;
		order: 3;
	}

	.content-info__link-btn {
		grid-column-start: 2;
		grid-row-start: 3;
		order: 4;
	}
	.text-info-gaming {
		max-width: 461px;
	}
	.text-info-gaming h3 {
		font-size: 26px;
	}

	/* ------------------- articles ----------------------- */
	.articles {
		padding: 160px 0;
	}
	.marquee-wrp {
		top: -164px;
	}
	.articles-cnt {
		padding: 0 32px;
	}
	.mask-fashion {
		mask-size: 340px 224px;
	}
	.mask-design {
		mask-size: 340px 224px;
	}
	.mask-marketing {
		mask-size: 340px 224px;
	}
	.mask-software {
		mask-size: 340px 224px;
	}
	.img-wrp-cards {
		width: 340px;
		height: 224px;
	}
	.img-wrp__stiker-articles svg {
		width: 104px;
		height: 104px;
	}
	.stiker-fashion {
		left: 230px;
		top: 10.5px;
	}
	.stiker-design {
		right: 9px;
		top: 10.5px;
	}
	.stiker-marketing {
		left: 168px;
		top: -7.5px;
	}
	.stiker-marketing svg {
		width: 180px;
		height: 120px;
		transform: rotate(15deg);
	}
	.stiker-software {
		left: 234px;
		top: 8.5px;
	}
	.list-fashion {
	}
	.links-cards {
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 16px;
	}
	.list-cards {
		display: flex;
		align-items: center;
		justify-content: start;
	}
	.text-info-card .text-info__title {
		font-size: 24px;
		margin-bottom: 16px;
	}
	.text-info-card {
		max-width: 340px;
	}
	.content-info__date {
		order: 3;
	}
	.articles-cards {
		margin-bottom: 104px;
	}
	.design-ux-ui__img-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 24px;
	}
	.mask-design-ux-ui {
		width: 704px;
		height: 320px;
	}
	.info-design-ux-ui {
		/* grid-template-rows: 30% 70%;
		gap: 0;
		column-gap: 24px; */
	}

	.stiker-design-ux-ui {
		right: 15px;
		top: 15.5px;
	}

	.stiker-img_r_t_60 {
		right: 5px;
		top: 8.5px;
	}
	.links-big-cards {
		justify-content: end;
	}
	.info-design-ux-ui__right {
		max-width: 461px;
	}

	/* ------------------- footer ----------------------- */
	.footer {
		padding: 64px 32px 72px 32px;
	}
	.footer__up {
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(4, auto);
	}

	.left-footer {
		grid-column-start: 1;
		grid-row-start: 1;
		margin-bottom: 48px;
	}

	.subscribe {
		grid-column-start: 2;
		grid-row-start: 1;
		align-items: end;
		margin-bottom: 0;
	}
	.sosial {
		grid-column-start: 1;
		grid-row-start: 2;
		margin-bottom: 88px;
	}

	.menu-footer {
		grid-column: span 2 / span 2;
		grid-row: span 2 / span 2;
		grid-column-start: 1;
		grid-row-start: 3;
		justify-content: center;
		width: 100%;
		gap: 69px;
		margin-bottom: 88px;
	}

	.menu-footer__courses {
		flex: 0 1 100px;
	}
	.menu-footer__webinars {
		flex: 0 1 104px;
	}

	.menu-footer__about {
		flex: 0 0 142px;
	}

	.menu-footer__blog {
		flex: 0 1 120px;
	}

	.contacts {
		grid-column: span 2 / span 2;
		grid-column-start: 1;
		grid-row-start: 5;
	}

	.left-footer__awards {
		width: 64px;
		height: 64px;
	}
}
@media (max-width: 768px) {
	.header-cnt {
		padding: 12px 8px;
	}
	.header__nav {
		justify-content: start;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}

	.header__nav a {
		min-width: fit-content;
		margin-bottom: 12px;
	}

	.header__search-icon {
		margin-right: 22px;
	}

	/* -------------- gaming ---------------- */
	.gaming__bg {
		top: -70px;
		left: -470px;
		transform: rotate(123.7deg);
	}
	.gaming-cnt {
		flex-direction: column;
		align-items: center;
		gap: 24px;
		padding: 14px 0px 17.5px 0px;
	}

	.gaming__img-wrp {
		width: 304px;
		height: 352px;
		mask-image: url('./images/gaming/mask-gaming.png');
	}

	.img-wrp__stiker-gaming {
		width: 104px;
		height: 104px;
	}

	.gaming__content-info {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: 16px;
	}

	.content-info__links {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: start;
		max-width: 100%;
		width: 100%;
		margin-bottom: 16px;
		font-size: var(--nunito-fz-15);
	}

	.content-info__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 16px;
	}

	.text-info__title {
		font-size: 26px;
	}

	.content-info__date {
		flex-direction: row;
		align-items: center;
		justify-content: start;
		max-width: 100%;
		width: 100%;
		order: 4;
		gap: 24px;
	}

	.content-info__link-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	/* -------------- articles ---------------- */
	.articles {
		padding: 280px 0;
	}
	.marquee-wrp {
		top: 37px;
	}
	.cards {
		flex-direction: column;
		align-items: center;
		justify-content: start;
		gap: 104px;
	}
	.img-wrp-cards {
		width: 304px;
		height: 352px;
	}
	.card__img-wrapper {
		margin-bottom: 18px;
	}
	.mask-fashion {
		mask-image: url(./images/articles/mask/fashion-mobile.png);
		-webkit-mask-image: url(./images/articles/mask/fashion-mobile.png);
		mask-size: 304px 352px;
	}
	.stiker-img_l_t_47 {
		left: 15px;
		top: 8.5px;
	}
	.mask-design {
		mask-image: url(./images/articles/mask/design-mobile.png);
		-webkit-mask-image: url(./images/articles/mask/design-mobile.png);
		mask-size: 304px 352px;
	}
	.stiker-design {
		right: 55px;
		top: 10.5px;
	}
	.mask-design-ux-ui {
		width: 304px;
		height: 352px;
		mask-image: url(./images/articles/mask/design-ui-mobile.png);
		-webkit-mask-image: url(./images/articles/mask/design-ui-mobile.png);
	}
	.stiker-design-ux-ui {
		right: 198px;
		top: 15.5px;
	}
	.img-wrp-cards {
		width: 304px;
		height: 352px;
	}
	.mask-marketing {
		mask-image: url(./images/articles/mask/marketing-mobile.png);
		-webkit-mask-image: url(./images/articles/mask/marketing-mobile.png);
		mask-size: 304px 352px;
	}
	.stiker-marketing {
		left: 130px;
		top: -7.5px;
	}
	.mask-software {
		mask-image: url(./images/articles/mask/software-mobile.png);
		-webkit-mask-image: url(./images/articles/mask/software-mobile.png);
		mask-size: 304px 352px;
	}
	.stiker-img_r_t_60 {
		left: 15px;
		top: 8.5px;
	}
	.mask-software img {
		object-position: -15px top;
	}
	.content-info {
		gap: 16px;
	}
	.info-design-ux-ui {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: 16px;
	}
	.info-design-ux-ui .date-big-cards {
		margin-top: 0;
	}
	.info-design-ux-ui .date-big-cards {
		display: flex;
		flex-direction: row;
		align-items: start;
		justify-content: start;
		gap: 24px;
		margin-bottom: 0;
	}
	.design-ux-ui {
		margin-bottom: 104px;
	}
	.content-info__links {
		order: 1;
		margin: 0;
	}
	.info-design-ux-ui__right {
		order: 2;
	}
	.text-info {
		margin-bottom: 0px;
	}
	.content-info__date {
		margin-top: 0;
		margin-bottom: 0;
		order: 3;
	}
	/* -------------- footer ---------------- */
	.footer {
		padding: 32px 8px 48px 8px;
	}

	.footer__up {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
	}

	.left-footer {
		justify-content: space-between;
		width: 304px;
		height: 64px;
		order: 1;
		margin: 0;
		margin-bottom: 40px;
	}

	.sosial {
		order: 2;
		margin-bottom: 48px;
	}

	.menu-footer {
		display: none;
	}
	.menu-footer-tabs {
		display: block;
		width: 100%;
		margin-bottom: 48px;
		order: 3;
	}

	.contacts {
		width: 100%;
		flex-direction: column;
		align-items: start;
		gap: 16px;

		order: 4;
		margin-bottom: 64px;
	}
	.subscribe {
		order: 5;
		width: 100%;
		align-items: center;
		margin-bottom: 64px;
	}

	.privicy {
		flex-direction: column;
		align-items: start;
		gap: 16px;
	}
	.privicy__separator {
		display: none;
	}

	.logo-left-footer {
		max-width: 173px;
		max-height: 64px;
	}
	.container {
		padding: 8px 8px;
	}
}

@media (max-width: 320px) {
}
