/* --------------------------------- articles ------------------------------ */
.articles {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100vw;
  background-image: url("@public/assets/images/bg/bgLineArticulos.svg");
  background-position: center 94px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -khtml-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
}
.articles-cnt {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  /* row-gap: 68px; */
  column-gap: 38px;
  margin-bottom: 170px;
  padding: 0;
}
.img-wrp__stiker-articles svg {
  width: 180px;
  height: 180px;
}
.articles__content-info .links-cards {
  margin-bottom: 20px;
}
.text-info-articles {
  margin-right: 0;
  margin-bottom: 17px;
}
.text-info-articles h3 {
  line-height: 115%;
}
.content-info-design .text-info h3 {
  line-height: 111%;
  letter-spacing: -1px;
}
.content-info-design .content-info__date {
  letter-spacing: -0.8px;
}
.content-info-fashion .content-info__date {
  letter-spacing: -0.7px;
}
/* .list-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
} */

.design-ux-ui {
  grid-column: span 2 / span 2;
  grid-row-start: 2;
  margin-bottom: 0px;
}
.card-marketing {
  grid-row-start: 3;
}
.card-software {
  grid-row-start: 3;
}
.info-design-ux-ui {
  display: grid;
  grid-template-rows: 40% 35%;
  grid-template-columns: 376px 1fr;
  grid-column-gap: 19px;
  grid-row-gap: 13px;
  align-items: start;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.info-design-ux-ui .links-cards {
  justify-content: end;
}
.info-design-ux-ui .content-info__date {
  justify-content: end;
}
.info-design-ux-ui .date-big-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 0;
}
.info-design-ux-ui .date-big-cards .date-text {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.info-design-ux-ui .date-big-cards .time {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.info-design-ux-ui .links-big-cards {
  align-self: start;
  justify-self: end;
}
.info-design-ux-ui__right {
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 1;
}
.text-info-design-ux-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  max-width: 640px;
  height: 100%;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.list-design-ux-ui {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}
.list-design-ux-ui li:first-child {
  grid-column: span 3 / span 3;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
.item-design-ux-ui {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
.date-big-cards {
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 2;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: 24px;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  margin-bottom: 56px;
}
.text-info-card {
  max-width: 695px;
}
.title-design-ux-ui {
  font-size: 36px;
  margin-bottom: 3px;
}
.sub-text-design-ux-ui {
  max-width: 100%;
}

.card_height {
  height: 325px;
}
.cards_m_t {
  margin-top: -18px;
}
.cards-buttom .text-info {
  margin-bottom: 18px;
}
.stiker-marketing {
  left: -63px;
  top: -80px;
}
.stiker-marketing svg {
  width: 286px;
  height: 214px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.img-wrapper-marketing {
  margin-bottom: 35px;
}
.link-marketing {
  padding: 7px 20px;
}
.text-info-marketing {
  max-width: 580px;
  margin-right: 0;
}
.text-info-marketing h3 {
  margin-bottom: 12px;
}
.text-info-marketing h3 {
  margin-bottom: 12px;
}
.img-wrp-software {
}
.card-design-ux-ui {
  grid-column: span 2 / span 2;
  margin-bottom: 150px;
}
.content-info {
}
/* ---------------------------- mask --------------------- */
.mask {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.stiker-img {
  position: absolute;
  z-index: 2;
}
.stiker-img svg {
  width: 200px;
  height: 200px;
}
.stiker-img_r_t_0 {
  right: -10px;
  top: 21px;
}
.stiker-img_l_t_47 {
  left: -35px;
  top: -43px;
}
.stiker-img_r_t_47 {
  right: -39px;
  top: -49px;
}
.stiker-img_l_t_80 {
  left: -57px;
  top: -80.5px;
}
.stiker-img_r_t {
  right: -40px;
  top: -52.5px;
}
.mask-fashion {
  mask-image: url("@public/assets/images/articles/mask/fashion.png");
  -webkit-mask-image: url("@public/assets/images/articles/mask/fashion.png");
}
.mask-design {
  mask-image: url("@public/assets/images/articles/mask/design.png");
  -webkit-mask-image: url("@public/assets/images/articles/mask/design.png");
}
.mask-design-ux-ui {
  width: 1208px;
  height: 520px;
  mask-image: url("@public/assets/images/articles/mask/design-ui.png");
  -webkit-mask-image: url("@public/assets/images/articles/mask/design-ui.png");
}
.mask-marketing {
  mask-image: url("@public/assets/images/articles/mask/marketing.png");
  -webkit-mask-image: url("@public/assets/images/articles/mask/marketing.png");
  -webkit-mask-size: 584px 325px;
  mask-size: 584px 325px;
}
.mask-software {
  mask-image: url("@public/assets/images/articles/mask/software.png");
  -webkit-mask-image: url("@public/assets/images/articles/mask/software.png");
  -webkit-mask-size: 584px 328px;
  mask-size: 584px 328px;
}
.card__img-wrapper {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 33px;
}
.design-ux-ui__img-wrapper {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 68px;
}
.card-design:hover .stiker-design {
  -webkit-animation: spin 7s infinite linear;
  animation: spin 7s infinite linear;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* --------------------------------- @media 1279px ------------------------------ */
@media (max-width: 1279px) {
  /*  ---------------------- articles ---------------------- */
  .articles {
    background-image: url("@public/assets/images/bg/bgLineArticulos-tablet.svg");
    background-size: 100% 100%;
    background-position: 0px 143px;
  }
  .marquee-wrp {
    font-size: 30px;
    line-height: 120%;
    padding: 10px 0;
  }
  .marquee-articules {
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  .marquee-articules {
    top: -238px;
  }
  .articles-cnt {
    gap: 0;
    margin-bottom: 210px;
    padding-top: 100px;
  }
  .mask-fashion {
    -webkit-mask-size: 340px 224px;
    mask-size: 340px 224px;
  }
  .mask-design {
    -webkit-mask-size: 340px 224px;
    mask-size: 340px 224px;
  }
  .mask-marketing {
    -webkit-mask-size: 340px 224px;
    mask-size: 340px 224px;
  }
  .mask-software {
    -webkit-mask-size: 340px 224px;
    mask-size: 340px 224px;
  }
  .img-wrp-cards {
    width: 340px;
    height: 224px;
  }
  .img-wrp__stiker-articles svg {
    width: 104px;
    height: 104px;
  }
  .stiker-fashion {
    left: 229px;
    top: 7.5px;
  }
  .stiker-design {
    right: 9px;
    top: 7.5px;
  }
  .stiker-marketing {
    left: 171px;
    top: -7.5px;
  }
  .stiker-marketing svg {
    width: 180px;
    height: 120px;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  .stiker-software {
    left: 227px;
    top: 8.5px;
  }
  .cards {
    gap: 26px;
  }
  .card__img-wrapper {
    margin-bottom: 24px;
  }
  .links-cards {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .articles__content-info .links-cards {
    margin-bottom: 19px;
  }

  .list-software {
    gap: 10px;
  }
  .text-info-card .text-info__title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .text-info-card {
    max-width: 340px;
    margin-bottom: 16px;
  }
  .content-info-fashion .content-info__date {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    gap: 23px;
  }
  .content-info-design .content-info__date {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    gap: 23px;
  }
  .content-info-design .text-info h3 {
    line-height: 114%;
    letter-spacing: 0px;
    margin-bottom: 13px;
  }
  .link-design {
    padding: 7px 18px;
  }
  .link-software {
    padding: 7px 17px;
    margin-right: 6px;
  }
  .articles-cards_m_b {
    margin-bottom: 96px;
  }
  .design-ux-ui__img-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  .mask-design-ux-ui {
    width: 704px;
    height: 338px;
    mask-size: 702px 324px;
  }
  .stiker-design-ux-ui {
    right: 8px;
    top: 16.5px;
  }
  .stiker-design-ux-ui svg {
    width: 120px;
    height: 120px;
  }
  .stiker-img_r_t {
    right: 5px;
    top: 8.5px;
  }
  .cards-buttom .card__img-wrapper {
    margin-bottom: 24px;
  }
  .cards-buttom .content-info__date {
    order: 3;
  }
  .cards-buttom .text-info__title {
    margin-bottom: 12px;
  }
  .link-marketing {
    padding: 7px 18px;
    margin-right: 6px;
  }
  .list-marketing {
    letter-spacing: 0px;
    gap: 10px;
  }
  .links-big-cards {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }
  .design-ux-ui {
    margin-bottom: 117px;
  }
  .design-ux-ui__info {
    display: grid;
    grid-template-rows: 36% 61%;
    grid-template-columns: auto 461px;
    grid-column-gap: 25px;
    align-items: center;
    width: 100%;

    height: 100%;
  }
  .list-design-ux-ui {
    grid-column-gap: 10px;
  }
  .text-info-design-ux-ui {
    margin-bottom: 0px;
  }
  .title-design-ux-ui {
    font-size: 26px;
    margin-bottom: 8px;
  }
  .link-design-ux-ui {
    padding: 7px 18px;
  }
}

/* --------------------------------- @media 768px ------------------------------ */
@media (max-width: 768px) {
  /* ------------------- articles ------------------------- */
  .articles {
    background-image: url("@public/assets/images/bg/bgLineArticulos-mobile.svg"),
      url("@public/assets/images/bg/bgLineArticulos-mobile-2.svg");
    background-position:
      0 -3%,
      0 93%;
    background-size: 100% 50%;
    -khtml-background-size: 100% 50%;
    -moz-background-size: 100% 50%;
    -ms-background-size: 100% 50%;
    -o-background-size: 100% 50%;
    -webkit-background-size: 100% 50%;
  }
  .articles-cnt {
    gap: 0;
    padding-top: 130px;
    margin-bottom: -44px;
  }
  .marquee-articules {
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    gap: 48px;
  }
  .img-wrp-cards {
    width: 304px;
    height: 352px;
  }
  .card__img-wrapper {
    margin-bottom: 18px;
  }
  .mask-fashion {
    mask-image: url("@public/assets/images/articles/mask/fashion-mobile.png");
    -webkit-mask-image: url("@public/assets/images/articles/mask/fashion-mobile.png");
    -webkit-mask-size: 304px 352px;
    mask-size: 304px 352px;
  }

  .stiker-img_l_t_47 {
    left: 9px;
    top: 7.5px;
  }
  .stiker-fashion svg {
    width: 120px;
    height: 120px;
  }
  .link-fashion {
    margin-right: 5px;
  }
  .articles__content-info .links-cards {
    margin-bottom: 3px;
  }
  .text-info-articles h3 {
    line-height: 120%;
  }
  .mask-design {
    mask-image: url("@public/assets/images/articles/mask/design-mobile.png");
    -webkit-mask-image: url("@public/assets/images/articles/mask/design-mobile.png");
    -webkit-mask-size: 304px 352px;
    mask-size: 304px 352px;
  }
  .mask-design img {
    object-position: -50px 0px;
  }
  .stiker-design {
    right: 8px;
    top: 8.5px;
  }
  .link-design {
    margin-right: 6px;
  }
  .mask-design-ux-ui {
    width: 304px;
    height: 352px;
    mask-image: url("@public/assets/images/articles/mask/design-ui-mobile.png");
    -webkit-mask-image: url("@public/assets/images/articles/mask/design-ui-mobile.png");
    mask-size: 304px 352px;
  }
  .img-wrp__stiker-articles svg {
    width: 120px;
    height: 120px;
  }
  .content-info-design .text-info h3 {
    margin-bottom: 18px;
  }
  .articles-cards_m_b {
    margin-bottom: 47px;
  }
  .stiker-design-ux-ui {
    right: 177px;
    top: 8.5px;
  }
  .design-ux-ui__img-wrapper {
    margin-bottom: 19px;
  }
  .link-design-ux-ui {
    margin-right: 6px;
  }
  .img-wrp-cards {
    width: 304px;
    height: 352px;
  }
  .mask-marketing {
    mask-image: url("@public/assets/images/articles/mask/marketing-mobile.png");
    -webkit-mask-image: url("@public/assets/images/articles/mask/marketing-mobile.png");
    -webkit-mask-size: 304px 352px;
    mask-size: 304px 352px;
  }
  .stiker-marketing {
    left: 124px;
    top: -12.5px;
  }
  .stiker-marketing svg {
    width: 183px;
    height: auto;
  }
  .mask-software {
    mask-image: url("@public/assets/images/articles/mask/software-mobile.png");
    -webkit-mask-image: url("@public/assets/images/articles/mask/software-mobile.png");
    -webkit-mask-size: 304px 352px;
    mask-size: 304px 352px;
  }
  .stiker-img_r_t_60 {
    left: 15px;
    top: 8.5px;
  }
  .mask-software img {
    -o-object-position: -15px top;
    object-position: -15px top;
  }
  .stiker-software {
    left: 8px;
    top: 8.5px;
  }
  .cards-buttom .text-info__title {
    margin-bottom: 13px;
  }
  .content-info {
    gap: 16px;
  }
  .info-design-ux-ui {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 0;
  }

  .info-design-ux-ui .date-big-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    gap: 24px;
    margin-bottom: 0px;
  }

  .info-design-ux-ui .links-big-cards {
    margin-bottom: 14px;
  }

  .content-info__links {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0;
  }
  .info-design-ux-ui__right {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .title-design-ux-ui {
    font-size: 24px;
    line-height: 128%;
    padding-right: 20px;
    margin-bottom: 8px;
  }
  .text-info {
    margin-bottom: 0;
  }
  .cards-buttom .card__img-wrapper {
    margin-bottom: 19px;
  }
}
