/* Реализовать подсветку инпутов формы на CSS по событию blur */
input[type="email"]:focus {
  border-color: var(--black);
}
#chb-subscribe:checked ~ input[type="email"]:not(:focus):valid {
  border-color: var(--grass);
}

#chb-subscribe:checked ~ input[type="email"]:not(:focus):valid ~ span::before {
  content: "";
  background-image: url("@public/assets/images/subscribe-block/icon/correct-inp.svg");
}

#chb-subscribe:checked ~ input[type="email"]:not(:focus):user-invalid:invalid {
  border-color: var(--tangerine);
}
#chb-subscribe:checked
  ~ input[type="email"]:not(:focus):user-invalid:invalid
  ~ span::before {
  content: "";
}

#chb-subscribe:not(:checked) ~ input[type="email"]:not(:focus):invalid {
  border-color: var(--tangerine);
}
#chb-subscribe:not(:checked)
  ~ input[type="email"]:not(:focus):invalid
  ~ span::before {
  content: "";
}

#chb-subscribe:not(:checked) ~ input[type="email"]:not(:focus):valid {
  border-color: var(--tangerine);
}
#chb-subscribe:not(:checked)
  ~ input[type="email"]:not(:focus):valid
  ~ span::before {
  content: "";
}

#chb-subscribe:not(:checked) ~ input[type="email"]:placeholder-shown:invalid {
  border-color: var(--white);
}
#chb-subscribe:not(:checked)
  ~ input[type="email"]:placeholder-shown:invalid
  ~ span::before {
  content: none;
}

input[type="email"] ~ span::before {
  content: none;
  display: block;
  position: absolute;
  z-index: 5;
  right: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-image: url("@public/assets/images/subscribe-block/icon/error-inp.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -khtml-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
}
