.settings {
  height: 100vh;
  font-size: 17px;
}
div.settings__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: 1rem;
}
.settings__title {
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}
.item-username label {
  margin-right: 1rem;
}
.item-form-avatar {
}
.form-settings {
  margin-bottom: 1rem;
}

/* -------------------- input ------------------- */
input[type="text"] {
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input[type="text"]:focus {
  border-color: #4a90e2;
  -webkit-box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  background-color: #f0f8ff;
}

input[type="text"]:invalid {
  border-color: #e74c3c;
  background-color: #ffe6e6;
}

input[type="text"]:valid {
  border-color: #2ecc71;
  background-color: #e9f8e3;
}

input[type="number"] {
  padding: 10px 15px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
input[type="number"]:focus {
  border-color: #4a90e2;
  -webkit-box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

input[type="number"]:invalid {
  border-color: #e74c3c;
}

input[type="number"]:valid {
  border-color: #2ecc71;
}

.item label {
  margin-right: 1rem;
}

.item-time input {
  width: 90px;
}
.item-errors input {
  width: 90px;
}

.item-save {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
.item-save__popup {
  position: absolute;
  top: 0;
  left: 0;
}
.btn.btn-save {
  text-align: center;
  width: 100%;
}
.btn-back-main {
  text-align: center;
  width: 100%;
}

/* --------------- popup -------------- */
.item-save__popup {
  position: fixed;
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: rgba(39, 44, 145, 0.7);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;

  opacity: 0;
  text-align: center;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  visibility: hidden;
  -webkit-transition:
    opacity 0.5s ease,
    visibility 0s 0.5s;
  -o-transition:
    opacity 0.5s ease,
    visibility 0s 0.5s;
  transition:
    opacity 0.5s ease,
    visibility 0s 0.5s;
}

.item-save__popup.visible {
  width: 50rem;
  opacity: 1;
  -webkit-transform: translateY(10px) translateX(-50%);
  -ms-transform: translateY(10px) translateX(-50%);
  transform: translateY(10px) translateX(-50%);
  visibility: visible;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
