.wrapper {
  width: 100%;
  font-family: Nunito, Arial, sans-serif;
  color: var(--black);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-style: normal;
  background-color: var(--white);
  overflow: hidden;
}
